<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top page--male">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Workoutnote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta property="fb:admins" content="651600295">
    <meta property="fb:app_id" content="731465336900630">
    <script>
        window.apiUrl = "\/api\/";
    </script>
</head>
<body data-new-gr-c-s-check-loaded="14.1015.0" data-gr-ext-installed="">
<nav role="navigation" aria-label="main navigation" class="navbar is-fixed-top is-workoutnote">
    {% load static %}
    <div class="navbar-brand">
        <a href="{% url 'profile main' %}" aria-current="page" class="navbar-item">
            <img alt="Workoutnote" src="{% static 'deltoid.png' %}" width="50" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{% url 'workouts' %}" aria-current="page" class="navbar-item ">
                <img width="30" height="30" style="margin-right: 10px" src="{% static 'dumbbell-white.svg' %}"/>
                <span>Workouts</span>
            </a>

            <a href="{% url 'exercises' %}" aria-current="page" class="navbar-item ">
                <img width="20" height="20" style="margin-right: 10px" src="{% static 'exercises-white.svg' %}"/>
                <span>Exercises</span>
            </a>

            <a href="{% url 'bodyweight' %}" aria-current="page" class="navbar-item ">
                <img width="20" height="20" style="margin-right: 10px" src="{% static 'bodyweight-white.svg' %}"/>
                <span>Bodyweight</span>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <img width="20" height="20" style="margin-right: 10px" src="{% static 'user-white.svg' %}"/>
                    <span>kobiljon</span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a href="{% url 'profile main' %}" class="navbar-item">
                        <img width="20" height="20" style="margin-right: 10px" src="{% static 'user.svg' %}"/>
                        <span>My Profile</span>
                    </a>
                    <a href="{% url 'find lifters' %}" class="navbar-item ">
                        <img width="20" height="20" style="margin-right: 10px" src="{% static 'users.svg' %}"/>
                        <span>Find Lifters</span>
                    </a>
                    <a href="{% url 'settings' %}" class="navbar-item">
                        <img width="20" height="20" style="margin-right: 10px" src="{% static 'settings.svg' %}"/>
                        <span>Settings</span>
                    </a>
                    <a href="{% url 'index' %}" class="navbar-item">
                        <img width="20" height="20" style="margin-right: 10px" src="{% static 'home.svg' %}"/>
                        <span>Back to Homepage</span>
                    </a>
                    <a href="{% url 'logout' %}" class="navbar-item">
                        <img width="20" height="20" style="margin-right: 10px" src="{% static 'leave.svg' %}"/>
                        <span>Sign Out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>