{% extends 'base.html' %}
{% block content %}
    <script>
        let selectExerciseDiv, exercisesListDiv, filterExerciseBodyPart, filterExerciseCategory, filterText, selectedExerciseName, selectedExerciseIcon;
        let allExercises = [{% for exercise in exercises %}{name: '{{ exercise.name }}',icon: '{{ exercise.icon }}',bodyPart: '{{ exercise.body_part }}',category: '{{ exercise.category }}'
                },{% endfor %}];
        let selectedExercise = {name: '{{ exercises.0.name }}', icon: '{{ exercises.0.icon }}', bodyPart: '{{ exercises.0.body_part }}', category: '{{ exercises.0.category }}'};
        document.addEventListener('DOMContentLoaded', () => {
            selectExerciseDiv = document.getElementById('selectExerciseDiv');
            exercisesListDiv = document.getElementById('exercisesListDiv');
            selectedExerciseName = document.getElementById('selectedExerciseName');
            selectedExerciseIcon = document.getElementById('selectedExerciseIcon');

            document.getElementById('filterExerciseBodyPart').addEventListener('change', (event) => {
                filterExerciseBodyPart = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
            document.getElementById('filterExerciseCategory').addEventListener('change', (event) => {
                filterExerciseCategory = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
        });

        function addLiftClick() {
            if (document.readyState === "complete")
                addLiftForm.style.display = 'block';
        }

        function hideAddLiftFormClick() {
            addLiftForm.style.display = 'none';
        }

        function showExerciseSelectorDivClick() {
            if (document.readyState === "complete")
                selectExerciseDiv.style.display = 'block';
        }

        function hideExerciseSelectorDivClick() {
            selectExerciseDiv.style.display = 'none';
        }

        function onFilterTextChanged(input) {
            filterText = input.value.length > 0 ? input.value : null;
            filterExercises();
        }

        function filterExercises() {
            let displayedExercises = allExercises.slice();

            if (filterText != null) {
                let filterTextLower = filterText.toLowerCase();
                for (let i = 0; i < displayedExercises.length; i++)
                    if (!displayedExercises[i].name.toLowerCase().includes(filterTextLower)) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                let newArray = [];
                for (let i = 0; i < displayedExercises.length; i++) {
                    if (displayedExercises[i].name.toLowerCase().startsWith(filterTextLower)) {
                        newArray.push(displayedExercises[i]);
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                }
                displayedExercises = newArray.concat(displayedExercises);
            }

            if (filterExerciseBodyPart != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].bodyPart !== filterExerciseBodyPart) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
            if (filterExerciseCategory != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].category !== filterExerciseCategory) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }

            exercisesListDiv.innerHTML = '';
            for (let i = 0; i < displayedExercises.length; i++) {
                let newElementHtml = '<a onclick="selectExerciseClick(\'' + displayedExercises[i].name + '\');" class="card-content px-4 py-3" style="display: block;"><span class="media"><span class="media-left"><span class="icon is-left has-text-dark"><i class="slicon slicon-2x ' + displayedExercises[i].icon + '"></i></span></span><span class="media-content"><span>' + displayedExercises[i].name + '</span> <span class="tag is-small ml-1">' + displayedExercises[i].bodyPart + '</span> <span class="tag is-small"> <span class="stars"> <span class="star__full">★</span> <span class="star__empty">★★★★</span> </span></span> </span> </span> </a>';
                let newElement = document.createElement('div');
                newElement.className = 'card';
                newElement.innerHTML = newElementHtml;
                exercisesListDiv.appendChild(newElement);
            }
        }

        function selectExerciseClick(name) {
            let newExercise = null;
            let nameLower = name.toLowerCase();
            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name.toLowerCase() === nameLower) {
                    newExercise = allExercises[i];
                    break;
                }

            if (newExercise != null) {
                selectedExerciseName.value = newExercise.name;
                selectedExerciseIcon.classList.remove(selectedExercise.icon);
                selectedExerciseIcon.classList.add(newExercise.icon);
                selectedExercise = newExercise;
                hideExerciseSelectorDivClick();
            }
        }
    </script>
    <div id="workoutPageContainer"><!---->
        <section class="hero is-primary is-translucent">
            <div class="hero-body">
                <div class="container">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control" style="flex-shrink: 1;"><h1 class="title is-3 is-size-4-mobile mb-2"><a class="is-dropdown-title-link"><span class="icon mr-1"><i aria-hidden="true"
                                                                                                                                                                               class="slicon slicon-fa-calendar-day"></i></span>
                            <span class="is-dropdown-title-underline">
                  15 June 2021
                  <span class="icon"><i aria-hidden="true" class="slicon slicon-fa-angle-down"></i></span></span></a></h1></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section has-background-white">
            <div class="container">
                <div class="buttons">
                    <button onclick="addLiftClick();" class="button is-primary is-large">
                        <span class="icon"><i aria-hidden="true" class="slicon slicon-fa-dumbbell"></i></span>
                        <span>Add Lift</span>
                    </button>
                </div>
                <div class="sub_content">
                    <table class="table is-fullwidth is-narrow mb-2 table--mobilesmall">
                        <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Lift</th>
                            <th>Reps</th>
                            <th><abbr title="Percentile"><span>&gt; %</span></abbr></th>
                            <th>Level</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lift in lifts %}
                            <tr class="workout__set">
                                <td>{{ lift.exercise.name }}</td>
                                <td>{{ lift.lift_mass }} kg</td>
                                <td>{{ lift.repetitions }}</td>
                                <td>31%</td>
                                <td><span class="stars"><span class="star__full">★★</span><!----><span class="star__empty">★★★</span></span></td>
                                <td class="is-vcentered">
                                    <div class="dropdown is-right has-text-left">
                                        <div class="dropdown-trigger">
                                            <a href="/analyse-lift/{{ lift.id }}/" aria-haspopup="true" aria-controls="dropdown-menu">
                                            <span class="icon">
                                                <i class="slicon slicon-fa-ellipsis-v"></i>
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <form action="{% url 'add workout' %}" id="addLiftForm" method="post" style="display: none;" autocomplete="off">
            {% csrf_token %}
            <div class="modal is-active">
                <div class="modal-background" onclick="hideAddLiftFormClick();"></div>
                <div class="modal-card">
                    <header class="modal-card-head"><p class="modal-card-title">Add Lift</p>
                        <button aria-label="close" type="button" class="delete" onclick="addLiftForm.style.display='none';"></button>
                    </header>
                    <section class="modal-card-body">
                        <div >
                            <div ><label class="label">Exercise</label></div>
                            <div >
                                <div >
                                    <div class="control control--modal has-icons-left has-icons-right">
                                        <input id="selectedExerciseName" onclick="showExerciseSelectorDivClick();" name="exercise" type="text" class="input" value="{{ exercises.0.name }}">
                                        <span class="icon is-left has-text-dark">
                                            <i id="selectedExerciseIcon" class="slicon slicon-2x {{ exercises.0.icon }}"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><!---->
                            <div >
                                <div ><label for="liftmass" class="label">
                                    Lift
                                </label></div>
                                <div >
                                    <div class="field is-expanded">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <input type="number" id="liftmass" name="liftmass" tabindex="1" min="1" max="1500" step="0.1" required="required" class="input">
                                            </div>
                                            <div class="control"><span class="button is-static">kg</span></div>
                                        </div> <!----></div>
                                </div>
                            </div>
                            <div >
                                <div ><label for="repetitions" class="label">Repetitions</label></div>
                                <div >
                                    <div >
                                        <div class="control"><input type="number" name="repetitions" id="repetitions" min="1" max="500" tabindex="2" class="input"></div>
                                    </div>
                                </div>
                            </div>
                            <div >
                                <div ><label for="sets" class="label">Sets</label></div>
                                <div >
                                    <div >
                                        <div class="control"><input type="number" name="sets" id="sets" tabindex="3" min="1" max="10" class="input"></div>
                                    </div>
                                </div>
                            </div>
                            <input name="liftmassunit" type="hidden" value="kg"> <input name="timezone" type="hidden" value="9"> <input type="hidden" name="action" value="addlift"></div>
                    </section>
                    <footer class="modal-card-foot">
                        <div class="buttons">
                            <input type="submit" name="addlift" value="Add Lift" tabindex="4" class="button is-primary">
                            <a class="button">Close</a>
                        </div>
                    </footer>
                </div>
            </div>
        </form>
        <div id="selectExerciseDiv" class="modal" style="display: none; margin-top: 20px; padding-right: 50px;">
            <div onclick="hideExerciseSelectorDivClick();" class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head"><p class="modal-card-title">Select Exercise</p>
                    <button onclick="hideExerciseSelectorDivClick();" aria-label="close" type="button" class="delete"></button>
                </header>
                <section class="modal-card-search">
                    <div >
                        <div class="control is-expanded has-icons-left">
                            <input onchange="onFilterTextChanged(this);" type="text" placeholder="Search..." autocomplete="off" class="input">
                            <span class="icon is-small is-left"><i class="slicon slicon-fa-search"></i></span>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <div class="select is-small">
                                <select id="filterExerciseBodyPart">
                                    <option value="none">Any Body Part</option>
                                    <option value="Back">
                                        Back
                                    </option>
                                    <option value="Biceps">
                                        Biceps
                                    </option>
                                    <option value="Chest">
                                        Chest
                                    </option>
                                    <option value="Core">
                                        Core
                                    </option>
                                    <option value="Forearms">
                                        Forearms
                                    </option>
                                    <option value="Legs">
                                        Legs
                                    </option>
                                    <option value="Shoulders">
                                        Shoulders
                                    </option>
                                    <option value="Triceps">
                                        Triceps
                                    </option>
                                    <option value="Whole Body">
                                        Whole Body
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <div class="select is-small">
                                <select id="filterExerciseCategory">
                                    <option value="none">Any Category</option>
                                    <option value="Barbell">Barbell</option>
                                    <option value="Bodyweight">Bodyweight</option>
                                    <option value="Cable">Cable</option>
                                    <option value="Dumbbell">Dumbbell</option>
                                    <option value="Machine">Machine</option>
                                    <option value="Olympic">Olympic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="modal-card-body is-paddingless">
                    <div id="exercisesListDiv" style="min-height: 415px;">
                        {% for exercise in exercises %}
                            <div class="card">
                                <a onclick="selectExerciseClick('{{ exercise.name }}')" class="card-content px-4 py-3" style="display: block;">
                                <span class="media">
                                    <span class="media-left">
                                        <span class="icon is-left has-text-dark">
                                            <i class="slicon slicon-2x {{ exercise.icon }}"></i>
                                        </span>
                                    </span>
                                    <span class="media-content">
                                        <span>{{ exercise.name }}</span>
                                        <span class="tag is-small ml-1">{{ exercise.body_part }}</span>
                                        <span class="tag is-small">
                                            <span class="stars">
                                                <span class="star__full">★</span>
                                                <span class="star__empty">★★★★</span>
                                            </span></span>
                                    </span>
                                </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <a class="button" onclick="hideExerciseSelectorDivClick();">Close</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
