{% extends 'profile/base.html' %}
{% block content %}
    <div class="content-wrapper" style="min-height: 701px;">
        <section class="content">
            <div class="row center-block">
                <h2>Hi,
                    {% if request.user.first_name %}
                        <span style="color: royalblue">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    {% else %}
                        <span style="color: royalblue">{{ request.user.username }}</span>
                    {% endif %}

                </h2>
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header"><h3 class="box-title">{% now "jS F Y" %}</h3></div>
                        <div class="box-body">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="example1_length" class="dataTables_length"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                                                        <colgroup>
                                                            <col span="1" style="width: 10%;">
                                                            <col span="1" style="width: 50%;">
                                                            <col span="1" style="width: 15%;">
                                                            <col span="1" style="width: 15%;">
                                                            <col span="1" style="width: 10%;">
                                                        </colgroup>
                                                        <thead>
                                                        <tr role="row">
                                                            <th>№</th>
                                                            <th>Exercise</th>
                                                            <th>Lift</th>
                                                            <th>Reps</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for lift in today_lifts %}
                                                            <tr role="row" class="odd">
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ lift.exercise.name }}</td>
                                                                <td>{{ lift.lift_mass }}</td>
                                                                <td>{{ lift.repetitions }}</td>
                                                                <td>smth</td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr role="row" class="odd">
                                                            <form action="{% url 'profile main' %}" method="post">
                                                                {% csrf_token %}
                                                                <td></td>
                                                                <td>
                                                                    <select name="exercise" id="exercises">
                                                                        {% for exercise in exercises %}
                                                                            <option value="{{ exercise.name }}">{{ exercise.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </td>
                                                                <td><input type="number" id="liftmass" name="liftmass" required="required" min="5" max="1000" step="0.1"></td>
                                                                <td><input type="number" id="repetitions" name="repetitions" required="required" min="1" max="20"></td>
                                                                <td><input type="submit" value="Add"></td>
                                                            </form>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for workout in workouts %}
                        <div class="box">
                            <div class="box-header"><h3 class="box-title">{{ workout.date|date:"jS F Y" }}</h3></div>
                            <div class="box-body">
                                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="example1_length" class="dataTables_length"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 table-responsive">
                                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                                                            <colgroup>
                                                                <col span="1" style="width: 10%;">
                                                                <col span="1" style="width: 50%;">
                                                                <col span="1" style="width: 15%;">
                                                                <col span="1" style="width: 15%;">
                                                                <col span="1" style="width: 10%;">
                                                            </colgroup>
                                                            <thead>
                                                            <tr role="row">
                                                                <th>№</th>
                                                                <th>Exercise</th>
                                                                <th>Lift</th>
                                                                <th>Reps</th>
                                                                <th>Status</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for lift in workout.lifts %}
                                                                <tr role="row" class="odd">
                                                                    <td>{{ forloop.counter }}</td>
                                                                    <td>{{ lift.exercise.name }}</td>
                                                                    <td>{{ lift.lift_mass }}</td>
                                                                    <td>{{ lift.repetitions }}</td>
                                                                    <td>smth</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}