{% extends 'profile/base.html' %}
{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    <div id="settingsPageContainer">
        <section class="hero is-primary is-translucent">
            <div class="hero-body">
                <div class="container is-max-desktop"><h1 class="title is-2 is-size-3-mobile">
                    Settings
                </h1></div>
            </div>
        </section>
        <section class="section has-background-white">
            <div class="container is-max-desktop">
                <form method="post" action="{% url 'settings' %}" class="mt-5"><h2 class="title is-3 is-size-4-mobile">Personal Details</h2>
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label for="name" class="label">Name</label></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control"><input id="name" name="name" type="text" placeholder="Enter Your Name" minlength="3" maxlength="32" class="input" required value="{% if preferences.name is not None %}{{ preferences.name }}{% endif %}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label for="gender" class="label">Gender</label></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select is-fullwidth"><select id="gender" name="gender">
                                        <option value="{{ gender.MALE }}" {% if preferences.gender_str == gender.MALE %}selected{% endif %}>Male</option>
                                        <option value="{{ gender.FEMALE }}" {% if preferences.gender_str == gender.FEMALE %}selected{% endif %}>Female</option>
                                    </select></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label for="birthday" class="label">Date of Birth</label></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div>
                                        <div class="control is-expanded"><input id="birthday" name="birthday" type="number" placeholder="MMDDYYYY" required class="input" maxlength="8" value="{% if preferences.date_of_birth is not None %}{{ preferences.date_of_birth_str }}{% endif %}"></div>
                                    </div>
                                </div>
                                <p class="help">
                                    We calculate your age from your date of birth and use it to adapt our ratings for your
                                    lifts.
                                    You may be stronger than you think!
                                </p></div>
                        </div>
                    </div>
                    <div id="heightSettings" class="field is-horizontal">
                        <div class="field-label is-normal"><label for="height" class="label">Height</label></div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <div class="control is-expanded"><input type="number" id="height" name="height" min="1" max="300" step="0.5" required class="input" placeholder="e.g. 187" value="{% if preferences.height is not None %}{{ preferences.height }}{% endif %}"></div>
                                <div class="control">
                                    <div class="select"><select id="heightunit" name="heightunit">
                                        <option>Centimeters (cm)</option>
                                    </select></div>
                                </div></div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary">Update Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form method="post" action="{% url 'settings' %}" class="mt-5"><h2 class="title is-3 is-size-4-mobile">Units of Measure</h2>
                    {% csrf_token %}
                    <div class="field">
                        <div>
                            <div class="field">
                                <div class="control"><label class="radio"><input type="radio" name="measurement_unit" value="{{ unit.KILOGRAMS }}" {% if preferences.unit_of_measure_str == unit.KILOGRAMS %}checked{% endif %}>
                                    Use <strong>kilograms (kg)</strong> for both body weight and lift weight
                                </label></div>
                            </div>
                            <div class="field">
                                <div class="control"><label class="radio"><input type="radio" name="measurement_unit" value="{{ unit.POUNDS }}" {% if preferences.unit_of_measure_str == unit.POUNDS %}checked{% endif %}>
                                    Use <strong>pounds (lb)</strong> for both body weight and lift weight
                                </label></div>
                            </div>
                            <div class="field">
                                <div class="control"><label class="radio"><input type="radio" name="measurement_unit" value="{{ unit.STONE }}" {% if preferences.unit_of_measure_str == unit.STONE %}checked{% endif %}>
                                    Use <strong>stone (st)</strong> for body weight and <strong>kilograms (kg)</strong> for lift
                                    weight (UK &amp; Ireland)
                                </label></div>
                            </div>
                        </div>
                    </div>
                    <a id="setEmailSection"></a>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Update Unit Settings</button>
                        </div>
                    </div>
                </form>

                <form method="post" action="{% url 'settings' %}" id="profileSharing" class="mt-5"><h2 class="title is-3 is-size-4-mobile">Sharing Settings</h2>
                    {% csrf_token %}
                    <div class="field">
                        <div>
                            <div class="field">
                                <div class="control"><label class="radio"><input type="radio" name="profile_sharing" value="{{ sharing.SHARED_WITH_PUBLIC }}" {% if preferences.profile_sharing_str == sharing.SHARED_WITH_PUBLIC %}checked{% endif %}>
                                    Share my profile with everyone
                                </label>
                                    <p class="help">
                                        Anyone can see your workout progress, similar to Bodybuilding.com's BodySpace
                                    </p></div>
                            </div>
                            <div class="field">
                                <div class="control"><label class="radio"><input type="radio" name="profile_sharing" value="{{ sharing.SHARED_WITH_USERS }}" {% if preferences.profile_sharing_str == sharing.SHARED_WITH_USERS %}checked{% endif %}>
                                    Share my profile with Workoutnote users
                                </label>
                                    <p class="help">
                                        You can compete with other lifters on Workoutnote but your profile
                                        will not be visible on the internet
                                    </p></div>
                            </div>
                            <div class="field">
                                <div class="control"><label class="radio"><input type="radio" name="profile_sharing" value="{{ sharing.PRIVATE }}" {% if preferences.profile_sharing_str == sharing.PRIVATE %}checked{% endif %}>
                                    Do not share my profile
                                </label>
                                    <p class="help">
                                        This means you will not be able to compete with other lifters
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Update Sharing Settings</button>
                        </div>
                    </div>
                </form>

                <form method="post" action="{% url 'settings' %}" class="mt-5"><h2 class="title is-3 is-size-4-mobile">Change Password</h2>
                    {% csrf_token %}
                    <div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="oldPassword" class="label">Old Password</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input name="oldpassword" id="oldPassword" type="password" required="required" class="input"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="newPassword" class="label">New Password</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input name="newpassword" id="newPassword" type="password" required="required" class="input"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="repeatPassword" class="label">Repeat Password</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input name="repeatpassword" id="repeatPassword" type="password" required="required" class="input"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}