{% extends 'profile/base.html' %}
{% block content %}
    {% load static %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    <div id="workoutsPageContainer"><!---->
        <section class="hero is-primary is-translucent">
            <div class="hero-body">
                <div class="container"><h1 class="title is-1 is-size-2-mobile">
                    Workouts
                </h1></div>
            </div>
        </section>
        <section class="section has-background-white">
            <div class="container">
                <div class="buttons mb-6"><a href="{% url 'lifts' %}" class="button is-primary is-large"><span class="icon"><img width="42" height="42" style="margin-left: 10px; margin-right: 10px;" src="{% static 'dumbbell-white.svg' %}"/></span>
                    <span>Add Workout</span></a></div>
                <div class="block">
                    {% for day, lifts in lifts_by_days %}
                        <div class="workout mb-6">
                            <div class="columns">
                                <div class="column is-one-third"><h3 class="title is-4 is-size-5-mobile"><a href="/"><span class="icon"><i aria-hidden="true" class="slicon slicon-fa-calendar-day"></i></span> <span>{{ day }}</span></a></h3></div>
                            </div>
                            <table class="table is-fullwidth is-narrow mb-2 table--mobilesmall">
                                <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Lift</th>
                                    <th>Reps</th>
                                    <th><abbr title="Percentile"><span>&gt; %</span></abbr></th>
                                    <th>Level</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lift in lifts %}
                                    <tr class="workout__set">
                                        <td>{{ lift.exercise.name }}</td>
                                        <td>{{ lift.lift_mass }} kg</td>
                                        <td>{{ lift.repetitions }}</td>
                                        <td>31%</td>
                                        <td><span class="stars"><span class="star__full">★★</span><!----><span class="star__empty">★★★</span></span></td>
                                        <td class="is-vcentered">
                                            <div class="dropdown is-right has-text-left">
                                                <div class="dropdown-trigger"><a aria-haspopup="true" aria-controls="dropdown-menu"><span class="icon"><i
                                                        class="slicon slicon-fa-ellipsis-v"></i></span></a></div>
                                                <div role="menu" class="dropdown-menu">
                                                    <div class="dropdown-content"><a href="/102596-nematjon/bench-press/8896921" class="dropdown-item"><span class="icon"><i
                                                            class="slicon slicon-fa-search"></i></span> <span>Analyse Lift</span></a> <a class="dropdown-item"><span class="icon"><i
                                                            class="slicon slicon-fa-arrow-up"></i></span> <span>Move Earlier</span></a> <a class="dropdown-item"><span class="icon"><i
                                                            class="slicon slicon-fa-arrow-down"></i></span> <span>Move Later</span></a> <a class="dropdown-item"><span class="icon"><i
                                                            class="slicon slicon-fa-trash"></i></span> <span>Delete</span></a></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    </script>
{% endblock %}
