{% extends 'index/base.html' %}
{% block content %}
    <div class="section-box">
        <h1 class="title is-2 is-size-3-mobile">Log In</h1>
        <div class="columns">
            <div class="column">

                <div class="content">
                    <p>
                        Need an account?
                        <a href="{% url 'register' %}">Register</a>
                    </p>
                </div>

                <form method="post" action="{% url 'login' %}" style="margin-top: 0;">
                    {% csrf_token %}
                    <div class="field">
                        <label for="email" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input name="email" id="email" type="email" placeholder="Email" class="input" value="" required="" autofocus="">
                            <span class="icon is-small is-left">
                                        <i class="slicon slicon-fa-envelope"></i>
                                    </span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input name="password" id="password" type="password" placeholder="Password" class="input" required="">
                            <span class="icon is-small is-left">
                <i class="slicon slicon-fa-lock"></i>
                </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-medium">Log In</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="column">
                <div class="content">
                    <h2 class="title is-3 is-size-4-mobile">Welcome to the Workoutnote community</h2>
                    <ul>
                        <li>Log your lifts at the gym</li>
                        <li>Keep track of your workouts</li>
                        <li>Track your progress over time</li>
                        <li>Find and follow other lifters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}