{% extends 'index/base.html' %}
{% block content %}
    <div class="section-box">
        <h1 class="title is-2 is-size-3-mobile">Log In</h1>
        <div class="columns">
            <div class="column">

                <div class="content">
                    <p>
                        Need an account?
                        <a href="https://strengthlevel.com/register">Register</a>
                    </p>
                </div>

                <form method="post" action="{% url 'login' %}" style="margin-top: 0;">
                    {% csrf_token %}
                    <div class="field">
                        <label for="email" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input name="email" id="email" type="email" placeholder="Email" class="input" value="" required="" autofocus="">
                            <span class="icon is-small is-left">
                                        <i class="slicon slicon-fa-envelope"></i>
                                    </span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input name="password" id="password" type="password" placeholder="Password" class="input" required="">
                            <span class="icon is-small is-left">
                <i class="slicon slicon-fa-lock"></i>
                </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-medium">Log In</button>
                        </div>
                    </div>

                    <p>
                        <a href="https://strengthlevel.com/forgot-password">
                            Forgot your password?
                        </a>
                    </p>
                </form>

                <div class="content mt-4">
                    <p><strong>Or</strong></p>
                    <p>
                        <a href="https://www.facebook.com/v2.10/dialog/oauth?client_id=731465336900630&amp;state=5b353421e25edef8cbd12938215bfd50&amp;response_type=code&amp;sdk=php-sdk-5.7.0&amp;redirect_uri=https%3A%2F%2Fstrengthlevel.com%2Ffacebook-login&amp;scope=email%2Cuser_friends%2Cuser_gender" class="button is-facebook">
            <span class="icon">
                <i class="slicon slicon-fa-facebook-square"></i>
            </span>
                            <span>Continue with Facebook</span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="content">
                    <h2 class="title is-3 is-size-4-mobile">Welcome to the Workoutnote community</h2>
                    <ul>
                        <li>Log your lifts at the gym</li>
                        <li>Keep track of your workouts</li>
                        <li>Track your progress over time</li>
                        <li>Find and follow other lifters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}