{% extends 'index/base.html' %}
{% block content %}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAxVISqf3UK-spyDwGXVqSlMIIWJEKmMWs",
            authDomain: "deltoidapis.firebaseapp.com",
            projectId: "deltoidapis",
            storageBucket: "deltoidapis.appspot.com",
            messagingSenderId: "677829581625",
            appId: "1:677829581625:web:ecf78f2647a4ce963fe6e8"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        document.addEventListener('DOMContentLoaded', () => {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {

                }
            });


        });
    </script>

    <div class="section-box">
        <h1 class="title is-2 is-size-3-mobile">Register</h1>
        <div class="columns">
            <div class="column">
                <div class="content">
                    <p>
                        Already have an account?
                        <a href="{% url 'login' %}">Log In</a>
                    </p>
                </div>

                <script>
                    function onRegisterFormSubmit(token) {
                        document.getElementById("registerForm").submit();
                    }
                </script>
                <form id="registerForm" action="{% url 'register' %}" style="margin-top: 0;" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label for="register_email" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input name="email" id="register_email" type="email" placeholder="Email"
                                   class="input"
                                   value=""
                                   required autofocus>
                            <span class="icon is-small is-left">
                                <i class="slicon slicon-fa-envelope"></i>
                                </span>
                        </div>
                        <p class="help" id="register_email_suggestion" style="display: none;">
                            Did you mean <a id="register_email_suggestion_link" href="#"></a>?
                        </p>
                    </div>
                    <div class="field">
                        <label for="register_password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input name="password" id="register_password" type="password" placeholder="Password"
                                   class="input" required>
                            <span class="icon is-small is-left"><i class="slicon slicon-fa-lock"></i></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="timezone" id="register_timezone" type="hidden" value="-5">
                            <input type="submit" class="g-recaptcha button is-primary is-medium" value="Register">
                        </div>
                    </div>
                </form>
            </div>

            <div class="column">
                <div class="content">
                    <h2 class="title is-3 is-size-4-mobile">Welcome to the Workoutnote community</h2>
                    <ul>
                        <li>Log your lifts at the gym</li>
                        <li>Keep track of your workouts</li>
                        <li>Track your progress over time</li>
                        <li>Find and follow other lifters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}