{% extends 'index/base.html' %}
{% block content %}
    {% load static %}
    <div class="section-box content">
        <h1 class="title is-2 is-size-3-mobile">All Calculators</h1>
        <p>Strength Level has calculators to help weightlifters at the gym.</p>

        <h2 class="title is-3 is-size-4-mobile">Strength Level Calculator</h2>
        <p>
            Calculate your performance in exercises like bench press, deadlift and squat (over 50+ exercises supported).
            Enter your one-rep max and we will rank you against other lifters at your bodyweight.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'index' %}">Strength Level Calculator</a>
        </p>

        <h2 class="title is-3 is-size-4-mobile">One Rep Max Calculator</h2>
        <p>
            Calculate your one-rep max (1RM) for any lift.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'one rep max calculator' %}">One Rep Max
                Calculator</a>
        </p>

        <h2 class="title is-3 is-size-4-mobile">Plate Barbell Racking Calculator</h2>
        <p>
            The Plate Barbell Racking Calculator tells you the plates you need to put on your barbell to lift a certain
            weight.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'plate barbell racking calculator' %}">Plate
                Calculator</a>
        </p>

        <h2 class="title is-3 is-size-4-mobile">Powerlifting Calculator</h2>
        <p>
            The Strength Level Powerlifting Calculator measures your strength in powerlifting against other
            lifters who have entered bench press, squat and deadlift into our calculator.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'powerlifting calculator' %}">Powerlifting
                Calculator</a>
        </p>

        <h2 class="title is-3 is-size-4-mobile">Wilks Calculator</h2>
        <p>
            The Wilks Score measures your strength in powerlifting against other
            powerlifters with different bodyweights across both genders.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'wilks calculator' %}">Wilks Calculator</a>
        </p>
    </div>
{% endblock %}