<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top page--male">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Confirmation Code - Workoutnote</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <meta property="fb:admins" content="651600295">
    <meta property="fb:app_id" content="731465336900630">

    <script>
        window.apiUrl = "\/api\/";
    </script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
    </script>
    <script>
        gtag('js', new Date());
        gtag('config', 'UA-38226592-2', {"user_id": 105317, "link_attribution": true, "page_path": "\/confirm-email"});
    </script>
</head>
<body data-new-gr-c-s-check-loaded="14.1015.0" data-gr-ext-installed="">
<nav role="navigation" aria-label="main navigation" class="navbar is-fixed-top is-workoutnote">
    <div class="navbar-brand">
        {% load static %}
        <a href="{% url 'index' %}" aria-current="page" class="navbar-item">
            <img alt="Workoutnote" src="{% static 'deltoid.png' %}" width="50" height="28">
        </a>
    </div>
</nav>
<section class="section">
    <form action="{% url 'register' %}" method="post" class="container">
        {% csrf_token %}
        <input type="text" name="email" value="{{ email }}" hidden>
        <input type="text" name="password" value="{{ password }}" hidden>
        <div class="card is-centered" style="max-width: 40rem; margin: 0 auto;">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon mr-1"><i class="slicon slicon-fa-envelope"></i></span>
                    <span>Enter Verification Code</span>
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Enter the verification code we sent to {{ email }}
                    </p>
                </div>
                <div class="field">
                    <label class="label">Confirmation Code</label>
                    <div class="control">
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                <input type="text" name="verification_code" class="input" placeholder="e.g. 424983" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item">
                    <div class="buttons" style="justify-content: space-between; flex: 1;">
                        <input type="submit" class="button is-primary" id="nextButton">
                        <a href="{% url 'logout' %}" class="button">Cancel</a>
                    </div>
                </div>
            </footer>
        </div>
    </form>
</section>
</body>
</html>