{% extends 'index/base.html' %}
{% block content %}
    <script>
        let selectExerciseDiv, exercisesListDiv, filterExerciseBodyPart, filterExerciseCategory, filterText, selectedExerciseName, selectedExerciseIcon;
        let allExercises = [{% for exercise in exercises %}{name: '{{ exercise.name }}',icon: '{{ exercise.icon }}',bodyPart: '{{ exercise.body_part }}',category: '{{ exercise.category }}'
                },{% endfor %}];
        let selectedExercise = {name: '{{ exercises.0.name }}', icon: '{{ exercises.0.icon }}', bodyPart: '{{ exercises.0.body_part }}', category: '{{ exercises.0.category }}'};
        document.addEventListener('DOMContentLoaded', () => {
            selectExerciseDiv = document.getElementById('selectExerciseDiv');
            exercisesListDiv = document.getElementById('exercisesListDiv');
            selectedExerciseName = document.getElementById('selectedExerciseName');
            selectedExerciseIcon = document.getElementById('selectedExerciseIcon');

            document.getElementById('filterExerciseBodyPart').addEventListener('change', (event) => {
                filterExerciseBodyPart = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
            document.getElementById('filterExerciseCategory').addEventListener('change', (event) => {
                filterExerciseCategory = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
        });

        function hideAddLiftFormClick() {
            addLiftForm.style.display = 'none';
        }

        function showExerciseSelectorDivClick() {
            if (document.readyState === "complete")
                selectExerciseDiv.style.display = 'block';
        }

        function hideExerciseSelectorDivClick() {
            selectExerciseDiv.style.display = 'none';
        }

        function onFilterTextChanged(input) {
            filterText = input.value.length > 0 ? input.value : null;
            filterExercises();
        }

        function filterExercises() {
            let displayedExercises = allExercises.slice();

            if (filterText != null) {
                let filterTextLower = filterText.toLowerCase();
                for (let i = 0; i < displayedExercises.length; i++)
                    if (!displayedExercises[i].name.toLowerCase().includes(filterTextLower)) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                let newArray = [];
                for (let i = 0; i < displayedExercises.length; i++) {
                    if (displayedExercises[i].name.toLowerCase().startsWith(filterTextLower)) {
                        newArray.push(displayedExercises[i]);
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                }
                displayedExercises = newArray.concat(displayedExercises);
            }

            if (filterExerciseBodyPart != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].bodyPart !== filterExerciseBodyPart) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
            if (filterExerciseCategory != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].category !== filterExerciseCategory) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }

            exercisesListDiv.innerHTML = '';
            for (let i = 0; i < displayedExercises.length; i++) {
                let newElementHtml = '<a onclick="selectExerciseClick(\'' + displayedExercises[i].name + '\');" class="card-content px-4 py-3" style="display: block;"><span class="media"><span class="media-left"><span class="icon is-left has-text-dark"><i class="slicon slicon-2x ' + displayedExercises[i].icon + '"></i></span></span><span class="media-content"><span>' + displayedExercises[i].name + '</span> <span class="tag is-small ml-1">' + displayedExercises[i].bodyPart + '</span> <span class="tag is-small"> <span class="stars"> <span class="star__full">★</span> <span class="star__empty">★★★★</span> </span></span> </span> </span> </a>';
                let newElement = document.createElement('div');
                newElement.className = 'card';
                newElement.innerHTML = newElementHtml;
                exercisesListDiv.appendChild(newElement);
            }
        }

        function selectExerciseClick(name) {
            let newExercise = null;
            let nameLower = name.toLowerCase();
            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name.toLowerCase() === nameLower) {
                    newExercise = allExercises[i];
                    break;
                }

            if (newExercise != null) {
                selectedExerciseName.value = newExercise.name;
                selectedExerciseIcon.classList.remove(selectedExercise.icon);
                selectedExerciseIcon.classList.add(newExercise.icon);
                selectedExercise = newExercise;
                hideExerciseSelectorDivClick();
            }
        }
    </script>
    {% load static %}
    <div class="calculator">
        <h1 class="title is-2 is-size-3-mobile is-sr-only">Workoutnote Calculator (Bench/Squat/Deadlift)</h1>
        <div class="columns is-gapless">
            <div class="column calculator__column">
                <div class="calculator__form">
                    <h2 class="title is-4">
                        Join 1758026+ Lifters and Calculate your Relative Strength:
                    </h2>

                    <form id="formCalc" action="{% url 'index' %}" method="post"><!---->
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="gender" class="label">Gender/Age</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth"><select id="gender" name="gender">
                                            <option value="male">
                                                Male
                                            </option>
                                            <option value="female">
                                                Female
                                            </option>
                                        </select></div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth"><select name="age">
                                            <option value="15.5">
                                                14-17
                                            </option>
                                            <option value="20.5">
                                                18-23
                                            </option>
                                            <option value="31.5">
                                                24-39
                                            </option>
                                            <option value="44.5">
                                                40-49
                                            </option>
                                            <option value="54.5">
                                                50-59
                                            </option>
                                            <option value="64.5">
                                                60-69
                                            </option>
                                            <option value="74.5">
                                                70-79
                                            </option>
                                            <option value="84.5">
                                                80-89
                                            </option>
                                        </select></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="bodymass" class="label">Bodyweight</label></div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input type="number" id="bodymass" name="bodymass" required="required" min="5" max="400" step="0.1" class="input">
                                    </div>
                                    <div class="control"><span class="button is-static">kg</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="exercise" class="label">Exercise</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control control--modal has-icons-left has-icons-right">
                                        <input id="selectedExerciseName" onclick="showExerciseSelectorDivClick();" name="exercise" type="text" class="input" value="{{ exercises.0.name }}">
                                        <span class="icon is-left has-text-dark">
                                            <i id="selectedExerciseIcon" class="slicon slicon-2x {{ exercises.0.icon }}"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="liftmass" class="label">
                                Lift
                            </label></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input type="number" id="liftmass" name="liftmass" min="1" max="1500" required="required" step="0.1" class="input">
                                        </div>
                                        <div class="control"><span class="button is-static">kg</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="repetitions" class="label">Repetitions</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input type="number" name="repetitions" id="repetitions" min="1" max="500" class="input"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input type="submit" value="Calculate Strength" class="button is-primary is-medium"> <input type="hidden" name="timezone" value="9">
                                        <input type="hidden" name="source" value="homepage"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="column calculator__column">
                <div class="calculator__about content">
                    <h2 class="subtitle is-5">
                        Workoutnode calculates your performance in compound exercises like
                        bench press, deadlift and squat.
                    </h2>
                    <p>
                        Enter your one-rep max and we will rank you against other lifters at your bodyweight.
                        This will give you a level between
                        Beginner&nbsp;<span class="stars"><span class="star__full">★</span><span class="star__empty">★★★★</span></span> and
                        Elite&nbsp;<span class="stars"><span class="star__full">★★★★★</span></span>.
                    </p>
                    <p>
                        If you don't know your current one-rep max, change the number of repetitions
                        and enter your most recent workout set where you went to failure.
                    </p>
                    <p>
                        You can compare your scores against heavier or lighter friends, and across
                        genders.
                    </p>
                    <p class="is-hidden-mobile">← Start now!</p>
                </div>
            </div>
        </div>
    </div>
    {% if calculator_result_status %}
        <div class="section-box liftresult">
            <div class="columns">
                {% if calculator_result_status == 'OK' %}
                    <div>
                        <div class="column" id="liftResults">
                            <h2 class="title is-3 is-size-4-mobile">
                                Your Workoutnote for
                                {{ selected_exercise.name }} is {{ lvl_txt }}</h2>
                            <div class="subtitle is-1">
                                <span class="stars"><span class="star__full">★★★★</span><span class="star__empty">★</span></span></div>
                            <div class="content">
                                <p>
                                    We estimate that your one-rep max is
                                    <strong>
                                        {{ one_rep_max }} kg </strong>
                                </p>
                            </div>

                            <div class="columns">
                                <div class="column">
                                    <h3 class="subtitle is-5 mb-2">You're stronger than</h3>
                                    <p>
                                        <strong>{{ lvl_percentage }}%</strong>
                                        of
                                        {{ gender }} lifters in your age group weighing
                                        {{ body_weight }} kg </p>
                                </div>

                                <div class="column">
                                    <h3 class="subtitle is-5 mb-2">Your lift is</h3>
                                    <p>
                                        <strong>{{ body_weight_ratio }}</strong>
                                        times your bodyweight
                                    </p>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <a id="facebookShare" class="button is-facebook">
                    <span class="icon">
                        <i class="slicon slicon-fa-facebook-square"></i>
                    </span>
                                        <span>Share on Facebook</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="liftresult__standards content">
                                <h3 class="subtitle is-4 is-size-5-mobile">Strength Level boundaries</h3>

                                <p>These are our strength standards
                                    in kg for lifters at
                                    your bodyweight:</p>


                                <table class="table is-fullwidth is-striped is-narrow standards__table" id="tableId60cf8aeca4202">
                                    <thead>
                                    <tr>
                                        <th style="width: 25%;">
                                            <abbr title="Bodyweight"><span>BW</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Beginner"><span>Beg.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Novice"><span>Nov.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Intermediate"><span>Int.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Advanced"><span>Adv.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Elite"><span>Elite</span></abbr>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{ body_weight }} <span class="standards__ratio"></span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.beginner }} <span class="standards__ratio">x0.48</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.novice }} <span class="standards__ratio">x0.78</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.intermediate }} <span class="standards__ratio">x1.16</span>
                                        </td>
                                        <td class="standards__cell--highlight">
                                            {{ lvl_boundaries.advanced }} <span class="standards__ratio">x1.63</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.elite }} <span class="standards__ratio">x2.14</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="content">
                                    <p>
                                        These male standards were last updated June and
                                        are based on 25,000 filtered lifts.
                                    </p>

                                    <p class="standards__note">
                                        Note: these barbell standards include the weight of the bar, normally 20 kg.
                                    </p>
                                </div>


                                <div class="field mt-3">
                                    <div class="control">
                                        <a class="button" href="/strength-standards/decline-bench-press/kg">
                                            Full Strength Standards
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Now just used for Facebook share box -->
                            <p id="liftResultDescription" style="display: none;">
                                Lifting 50 kg for 15 repetitions
                                in the
                                Decline Bench Press is stronger than
                                <strong>84%</strong>
                                of
                                male lifters in your age group weighing
                                50 kg </p>
                        </div>
                    </div>
                {% elif calculator_result_status == 'FAIL' %}
                    <div>
                        <h2 class="title is-3 is-size-4-mobile">
                            Your Workoutnote for
                            {{ selected_exercise }} is Unknown</h2>
                        <div class="content">
                            <p>
                                <strong>:(</strong><br>
                                Sorry, there is no enough data regarding
                                <strong>{{ selected_exercise }}</strong>
                                in our database for people weighing
                                <strong>{{ body_weight }} kg</strong>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <script>
                var shareApiUrl = "\/api\/share-lift";
                var sharedApiUrl = "\/api\/shared-lift";
                var sharedUrlWithoutGuid = "https:\/\/strengthlevel.com\/shared-lift";
                var resultId = 65337031;
                var source = "homepage";

                StrengthLevel.addFormLiftResults(shareApiUrl, sharedApiUrl, sharedUrlWithoutGuid, resultId, source);
            </script>
        </div>
    {% endif %}
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Strength Standards</h2>
        <p>
            Our strength standards are based on over 46,855,000 lifts
            entered by Workoutnote users.
        </p>
        <p>
            We have male and female standards for these gym exercises and more:
            bench press, squat, deadlift, shoulder press, pull ups, dumbbell bench press, dumbbell curl, push ups, barbell curl, dumbbell shoulder press.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'strength standards' %}">View
                Strength Standards</a>
        </p>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Track your workouts</h2>
        <p>Join the Workoutnote community today! Track your workouts and compare with your friends and other
            lifters.</p>
        <p class="buttons">
            <a href="{% url 'register' %}" class="button is-primary">Register</a>
            <a href="{% url 'profile main' %}" class="button">Learn more</a>
        </p>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">One Rep Max Calculator</h2>
        <p>
            If you want to calculate your one rep max, or see percentages of your 1RM, check out our one rep max calculator:
        </p>
        <p>
            <a class="button is-primary" href="{% url 'one rep max calculator' %}">One Rep
                Max Calculator</a>
        </p>
    </div>

    <div id="selectExerciseDiv" class="modal" style="display: none; margin-top: 20px; padding-right: 50px;">
        <div onclick="hideExerciseSelectorDivClick();" class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head"><p class="modal-card-title">Select Exercise</p>
                <button onclick="hideExerciseSelectorDivClick();" aria-label="close" type="button" class="delete"></button>
            </header>
            <section class="modal-card-search">
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        <input onchange="onFilterTextChanged(this);" type="text" placeholder="Search..." autocomplete="off" class="input">
                        <span class="icon is-small is-left"><i class="slicon slicon-fa-search"></i></span>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="select is-small">
                            <select id="filterExerciseBodyPart">
                                <option value="none">Any Body Part</option>
                                <option value="Back">Back</option>
                                <option value="Biceps">Biceps</option>
                                <option value="Chest">Chest</option>
                                <option value="Core">Core</option>
                                <option value="Forearms">Forearms</option>
                                <option value="Legs">Legs</option>
                                <option value="Shoulders">Shoulders</option>
                                <option value="Triceps">Triceps</option>
                                <option value="Whole Body">Whole Body</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <div class="select is-small">
                            <select id="filterExerciseCategory">
                                <option value="none">Any Category</option>
                                <option value="Barbell">Barbell</option>
                                <option value="Bodyweight">Bodyweight</option>
                                <option value="Cable">Cable</option>
                                <option value="Dumbbell">Dumbbell</option>
                                <option value="Machine">Machine</option>
                                <option value="Olympic">Olympic</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <section class="modal-card-body is-paddingless">
                <div id="exercisesListDiv" style="min-height: 415px;">
                    {% for exercise in exercises %}
                        <div class="card">
                            <a onclick="selectExerciseClick('{{ exercise.name }}')" class="card-content px-4 py-3" style="display: block;">
                                <span class="media">
                                    <span class="media-left">
                                        <span class="icon is-left has-text-dark">
                                            <i class="slicon slicon-2x {{ exercise.icon }}"></i>
                                        </span>
                                    </span>
                                    <span class="media-content">
                                        <span>{{ exercise.name }}</span>
                                        <span class="tag is-small ml-1">{{ exercise.body_part }}</span>
                                        <span class="tag is-small">
                                            <span class="stars">
                                                <span class="star__full">★</span>
                                                <span class="star__empty">★★★★</span>
                                            </span></span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                    <a class="button" onclick="hideExerciseSelectorDivClick();">Close</a>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
