{% extends 'index/base.html' %}
{% block content %}
    <div class="section-box">
        <h1 class="title is-2 is-size-3-mobile">One Rep Max Calculator</h1>
        <p>
            Calculate your one-rep max (1RM) for any lift. Your one-rep max is the max weight you can lift
            for a single repetition for a given exercise.
        </p>
        <form id="oneRepMaxCalculator" action="{% url 'one rep max calculator' %}" method="post">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label for="liftmass" class="label">
                    Lift
                </label></div>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="number" id="liftmass" name="liftmass" min="1" max="1500" required="required" step="0.1" class="input">
                        </div>
                        <div class="control">
                            <div class="select"><select name="liftmassunit">
                                <option>
                                    kg
                                </option>
                                <option>
                                    lb
                                </option>
                            </select></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label for="repetitions" class="label">Repetitions</label></div>
                <div class="field-body">
                    <input type="number" name="repetitions" id="repetitions" min="1" max="500" class="input" required="required">
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Calculate One Rep Max" class="button is-primary is-medium">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if result_number %}
        <div class="section-box">
            <h2 class="title is-3 is-size-4-mobile">
                Your one rep max is
                <strong>{{ result_number }} kg</strong>
            </h2>
            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <th style="width: 33%">Percentage of 1RM</th>
                    <th style="width: 33%">Lift Weight</th>
                    <th>Repetitions of 1RM</th>
                </tr>
                </thead>
                <tbody>
                {% for result_item in result_table %}
                    <tr>
                        <td>{{ result_item.percentage }}%</td>
                        <td>{{ result_item.liftmass }} kg</td>
                        <td>{{ result_item.reps_of_1rm }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="notification " style="background-color: #f0d500;">
                <table>
                    <tbody>
                    <tr>
                        <td style="vertical-align: middle; width: 124px;" class="pr-2">
                            <a href="https://runninglevel.com/?utm_source=runninglevel&amp;utm_medium=banner&amp;utm_campaign=launch&amp;utm_content=1rm_result" class="is-text" target="_blank">
                                <img src="/images/runninglevel.svg" width="112" height="28" alt="Running Level">
                            </a>
                        </td>
                        <td style="vertical-align: middle">
                            <strong>New!</strong> <a href="https://runninglevel.com/?utm_source=runninglevel&amp;utm_medium=banner&amp;utm_campaign=launch&amp;utm_content=1rm_result" class="is-text"
                                                     target="_blank">Calculate your Running Level</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="section-box">
        <h2 class="title is-3 is-size-4-mobile">Repetition Percentages of 1RM</h2>
        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                <th style="width: 50%;">Repetitions</th>
                <th style="width: 50%;">Percentage of 1RM</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>97%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>94%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>92%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>89%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>86%</td>
            </tr>
            <tr>
                <td>7</td>
                <td>83%</td>
            </tr>
            <tr>
                <td>8</td>
                <td>81%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>78%</td>
            </tr>
            <tr>
                <td>10</td>
                <td>75%</td>
            </tr>
            <tr>
                <td>11</td>
                <td>73%</td>
            </tr>
            <tr>
                <td>12</td>
                <td>71%</td>
            </tr>
            <tr>
                <td>13</td>
                <td>70%</td>
            </tr>
            <tr>
                <td>14</td>
                <td>68%</td>
            </tr>
            <tr>
                <td>15</td>
                <td>67%</td>
            </tr>
            <tr>
                <td>16</td>
                <td>65%</td>
            </tr>
            <tr>
                <td>17</td>
                <td>64%</td>
            </tr>
            <tr>
                <td>18</td>
                <td>63%</td>
            </tr>
            <tr>
                <td>19</td>
                <td>61%</td>
            </tr>
            <tr>
                <td>20</td>
                <td>60%</td>
            </tr>
            <tr>
                <td>21</td>
                <td>59%</td>
            </tr>
            <tr>
                <td>22</td>
                <td>58%</td>
            </tr>
            <tr>
                <td>23</td>
                <td>57%</td>
            </tr>
            <tr>
                <td>24</td>
                <td>56%</td>
            </tr>
            <tr>
                <td>25</td>
                <td>55%</td>
            </tr>
            <tr>
                <td>26</td>
                <td>54%</td>
            </tr>
            <tr>
                <td>27</td>
                <td>53%</td>
            </tr>
            <tr>
                <td>28</td>
                <td>52%</td>
            </tr>
            <tr>
                <td>29</td>
                <td>51%</td>
            </tr>
            <tr>
                <td>30</td>
                <td>50%</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Rate Your Lifts Against Other People</h2>
        <p>
            The Strength Level Calculator can show your exact level of strength at any bodyweight.
        </p>
        <p>
            <a href="https://strengthlevel.com/" class="button is-primary">
                Calculate Your Strength
            </a>
        </p>
    </div>
{% endblock %}