{% extends 'index/base.html' %}
{% block content %}
    <div id="plateContainer">
        <div class="section-box"><h1 class="title is-2 is-size-3-mobile is-spaced">Plate Barbell Racking Calculator</h1>
            <h2 class="subtitle is-3 is-size-4-mobile">
                Calculate the plates you need to load on your barbell
            </h2>
            <h3 class="subtitle is-4 is-size-5-mobile">
                Enter the lift you want to perform:
            </h3>
            <form action="/plate-barbell-racking-calculator#plateCalculatorResults" method="post">
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label for="liftmass" class="label">
                        Total Lift
                    </label></div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control is-expanded"><input type="number" id="liftmass" name="liftmass" min="1" max="4000" required="required" step="0.1" class="input"></div>
                            <div class="control"><span class="button is-static">kg</span></div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label for="barliftmass" class="label">
                        Bar Weight
                    </label></div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control is-expanded"><input type="number" id="barliftmass" name="barliftmass" min="1" max="4000" required="required" step="0.1" class="input"></div>
                            <div class="control"><span class="button is-static">kg</span></div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control"><input type="submit" value="Calculate Plates" name="calculateTotal" class="button is-primary is-medium"></div>
                        </div>
                    </div>
                </div>
                <h3 class="subtitle is-4 is-size-5-mobile mt-5">
                    Customize the plates you have available at your gym (optional):
                </h3>
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <th width="50%">Plate Weight</th>
                        <th>Quantity (each side)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>100 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>55 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>45 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>35 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>25 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>15 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>10 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>5 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>2.5 lb</td>
                        <td>
                            <div class="field">
                                <div class="control"><input name="plateQuantities[]" type="number" min="0" max="10" class="input"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        StrengthLevel.addPlateCalculator({
            "liftMass": "",
            "liftMassUnitSymbol": "lb",
            "unitDefinitions": [{"symbol": "kg", "conversionToBaseUnit": 1, "step": 0.1, "remainderSymbol": null, "remainderMultiple": null, "remainderStep": null}, {"symbol": "lb", "conversionToBaseUnit": 0.45359237, "step": 0.1, "remainderSymbol": null, "remainderMultiple": null, "remainderStep": null}],
            "liftMassUnits": ["kg", "lb"],
            "plates": {"kg": [25, 20, 15, 10, 5, 2.5, 1.25], "lb": [100, 55, 45, 35, 25, 15, 10, 5, 2.5]},
            "plateQuantities": {"kg": [0, 10, 10, 10, 10, 10, 10], "lb": [0, 0, 10, 10, 10, 10, 10, 10, 10]},
            "barMass": 45
        });
    </script>
{% endblock %}