{% extends 'index/base.html' %}
{% block content %}
    <script>

        function splitTotalCheck() {
            if (document.getElementById('splitCheck').checked) {
                document.getElementById('totalLiftInputBlock').style.display = 'none';
                document.getElementById('splitLiftInputBlock').style.display = 'block';
            } else {
                document.getElementById('totalLiftInputBlock').style.display = 'block';
                document.getElementById('splitLiftInputBlock').style.display = 'none';
            }
        }

        function submit() {
            document.theForm.submit();
        }
    </script>
    <div class="section-box">
        <h1 class="title is-2 is-size-3-mobile">Powerlifting Calculator</h1>
        <div class="columns">
            <div class="column">
                <form action="{% url 'powerlifting calculator' %}" name="theForm" method="post" id="powerliftingForm" class="powerliftingcalculator__form">
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label for="splitform_gender" class="label">Gender</label></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select"><select id="splitform_gender" name="gender">
                                        <option value="male">
                                            Male
                                        </option>
                                        <option value="female">
                                            Female
                                        </option>
                                    </select></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label for="splitform_bodymass" class="label">Bodyweight</label></div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <div class="control is-expanded"><input type="number" id="splitform_bodymass" name="bodymass" required="required" min="5" max="400" step="0.1" class="input"></div>
                                <div class="control"><span class="button is-static">kg</span></div>
                                <!----></div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label"><label class="label">Method</label></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" onclick="splitTotalCheck()" name="method" value="split" checked id="splitCheck"> Separately
                                    </label>
                                    <label class="radio">
                                        <input type="radio" onclick="splitTotalCheck()" name="method" value="total" id="totalCheck"> Added Up
                                    </label>
                                </div>
                                <p class="help">
                                    Enter your best bench press, squat and deadlift (conventional or sumo)
                                </p></div>
                        </div>
                    </div>
                    <div id="splitLiftInputBlock">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="benchliftmass" class="label">
                                Bench Press </label></div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control is-expanded"><input type="number" id="benchliftmass" name="benchliftmass" min="1" max="1500" required="required" step="0.1" class="input"></div>
                                    <div class="control"><span class="button is-static">kg</span></div>
                                    <div class="control is-expanded"><input type="number" name="benchrepetitions" required="required" min="1" max="500" class="input"></div>
                                    <div class="control"><span class="button is-static">
                            rep
                        </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="squatliftmass" class="label">
                                Back Squat </label></div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control is-expanded"><input type="number" id="squatliftmass" name="squatliftmass" min="1" max="1500" required="required" step="0.1" class="input"></div>
                                    <div class="control"><span class="button is-static">kg</span></div>
                                    <div class="control is-expanded"><input type="number" name="squatrepetitions" required="required" min="1" max="500" class="input"></div>
                                    <div class="control"><span class="button is-static">
                            rep
                        </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="deadliftliftmass" class="label">
                                Deadlift </label></div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control is-expanded"><input type="number" id="deadliftliftmass" name="deadliftliftmass" min="1" max="1500" required="required" step="0.1" class="input">
                                    </div>
                                    <div class="control"><span class="button is-static">kg</span></div>
                                    <div class="control is-expanded"><input type="number" name="deadliftrepetitions" required="required" min="1" max="500" class="input"></div>
                                    <div class="control"><span class="button is-static">
                            rep
                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="totalLiftInputBlock" style="display: none">
                        <div class="field is-horizontal">
                            <div class="field-label"><label for="totalform_liftmass" class="label">
                                Total Lift
                            </label></div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input type="number" id="totalform_liftmass" name="totalliftmass" min="1" max="4000" required="required" step="0.1" class="input">
                                    </div>
                                    <div class="control">
                                        <div class="select"><select name="liftmassunit">
                                            <option>
                                                kg
                                            </option>
                                            <option>
                                                lb
                                            </option>
                                        </select></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary is-medium" onclick="submit()">Calculate Score</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <h2 class="subtitle is-4 is-size-5-mobile">
                    Calculate your powerlifting level for your gender/bodyweight in kg
                </h2>
                <p>
                    The Workoutnote Powerlifting Calculator measures your strength in powerlifting against other
                    lifters who have entered bench press, squat and deadlift into our calculator. It takes into
                    account your bodyweight and gender.
                </p>
            </div>
        </div>
    </div>
    {% if calculator_result_status %}
        <div class="section-box" id="powerliftingResults">
            <div class="columns">
                {% if calculator_result_status == 'OK' %}
                    <div>
                        <div class="column">
                            <h2 class="title is-3 is-size-4-mobile">
                                Your Powerlifting Workoutnote is
                                {{ lvl_txt }} </h2>
                            <div class="subtitle is-1">
                                <span class="stars"><span class="star__full">★</span><span class="star__empty">★★★★</span></span></div>

                            <div class="content">
                                <p>
                                    Based on a total lift of
                                    <strong>
                                        {{ total_lift }} kg </strong>
                                </p>
                            </div>

                            <div class="columns">
                                <div class="column">
                                    <h3 class="subtitle is-5 mb-2">You're stronger than</h3>
                                    <p>
                                        <strong>{{ lvl_percentage }}%</strong>
                                        of {{ gender }} lifters weighing {{ body_weight }} kg </p>
                                </div>

                                <div class="column">
                                    <h3 class="subtitle is-5 mb-2">Wilks Score</h3>
                                    <div class="content">
                                        <p>
                                            Your Wilks Score is <strong>{{ wilks_score }}</strong>
                                        </p>
                                        <p>
                                            Get more information on Wilks Score using our <a href="{% url 'wilks calculator' %}">Wilks
                                            Calculator</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="liftresult__standards">
                                <h3 class="subtitle is-4 is-size-5-mobile">Workoutnote boundaries</h3>
                                <p>These are our strength standards
                                    in kg for
                                    lifters at
                                    your bodyweight:</p>

                                <table class="table is-fullwidth is-striped is-narrow standards__table" id="tableId60cf04ea55f0c">
                                    <thead>
                                    <tr>
                                        <th style="width: 25%;">
                                            <abbr title="Bodyweight"><span>BW</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Beginner"><span>Beg.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Novice"><span>Nov.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Intermediate"><span>Int.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Advanced"><span>Adv.</span></abbr>
                                        </th>
                                        <th style="width: 15%;">
                                            <abbr title="Elite"><span>Elite</span></abbr>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{ body_weight }} <span class="standards__ratio"></span>
                                        </td>
                                        <td class="standards__cell--highlight">
                                            {{ lvl_boundaries.beginner }} <span class="standards__ratio">x2.65</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.novice }} <span class="standards__ratio">x3.58</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.intermediate }} <span class="standards__ratio">x4.71</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.advanced }} <span class="standards__ratio">x5.99</span>
                                        </td>
                                        <td>
                                            {{ lvl_boundaries.elite }} <span class="standards__ratio">x7.35</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="content">
                                    <p>
                                        These male standards were last updated June and
                                        are based on 254,000 filtered lifts.
                                    </p>

                                    <p class="standards__note">
                                        Note: these barbell standards include the weight of the bar, normally 20 kg.
                                    </p>
                                </div>


                                <p>
                                    <a class="button" href="{% url 'powerlifting standards' %}">
                                        Powerlifting Strength Standards
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% elif calculator_result_status == 'FAIL' %}
                    <div>
                        <h2 class="title is-3 is-size-4-mobile">
                            Your Powerlifting Strength Level is Unknown
                        </h2>
                        <div class="content">
                            <p>
                                <strong>:(</strong><br>
                                Sorry, there is no enough data regarding
                                <strong>Powerlifting</strong>
                                in our database for people weighing
                                <strong>{{ body_weight }} kg</strong>
                            </p>
                            <h3 class="subtitle is-5 mb-2">Wilks Score</h3>
                            <div class="content">
                                <p>
                                    Your Wilks Score is <strong>{{ wilks_score }}</strong>
                                </p>
                                <p>
                                    Get more information on Wilks Score using our <a href="{% url 'wilks calculator' %}">Wilks
                                    Calculator</a>.
                                </p>
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Powerlifting Strength Standards</h2>
        <p>
            Our powerlifting strength standards are based on millions of lifts entered by Workoutnote users.
        </p>
        <p>
            <a class="button is-primary" href="https://strengthlevel.com/powerlifting-standards">
                View Powerlifting Strength Standards
            </a>
        </p>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Rate Your Lifts Against Other People</h2>
        <p>
            The Workoutnote Calculator can show your exact level of strength at any bodyweight.
        </p>
        <p>
            <a href="https://strengthlevel.com/" class="button is-primary">
                Calculate Your Strength
            </a>
        </p>
    </div>
{% endblock %}