{% extends 'index/base.html' %}
{% block content %}
    <div class="section-box content">
        <h1 class="title is-2 is-size-3-mobile">Privacy Policy</h1>

        <h2 class="title is-3 is-size-4-mobile">Introduction</h2>
        <p>
            We want to keep your personal details safe and give you a positive
            experience using Workoutnote.
        </p>

        <h2 class="title is-3 is-size-4-mobile">Personal information</h2>
        <p>
            We collect, store and use the following kinds of personal information:
        </p>
        <ol>
            <li>Information you provide when registering an account (including your email address)</li>
            <li>Your bodyweight as it changes over time</li>
            <li>Your performance in physical exercises</li>
        </ol>
        <p>
            We only ask for details that will improve your experience and will not
            reveal personally identifiable information to third parties (name/email).
        </p>

        <h2 class="title is-3 is-size-4-mobile">Facebook integration</h2>
        <p>
            When you connect to Facebook, we ask for personal details to improve your
            experience on Workoutnote. This includes your name, email and birthdate.
        </p>
        <p>
            Whenever you login with Facebook, we request your list of friends. We will
            then connect you with other friends who use Workoutnote. We cannot
            see friends who do not use Workoutnote.
        </p>

        <h2 class="title is-3 is-size-4-mobile">Non-personal information</h2>
        <p>
            We collect, store and use the following kinds of Non-personal information:
        </p>
        <ol>
            <li>Information about your computer and your visits to the website</li>
            <li>This includes your IP address, geographical location, and browser type and version</li>
        </ol>

        <h2 class="title is-3 is-size-4-mobile">Use of cookies</h2>
        <p>We use cookies on every page to:</p>
        <ol>
            <li>Keep you logged in</li>
            <li>Remember your last lift (to help you enter your next one)</li>
        </ol>

        <h2 class="title is-3 is-size-4-mobile">Google Analytics</h2>
        <p>
            Google provides us with usage statistics to help us improve Workoutnote.
            They use cookies to track how you interact with the website. This allows us
            to see the number of hits and other statistics.
        </p>

        <h2 class="title is-3 is-size-4-mobile">Advertising</h2>
        <p>
            We use advertising to pay for our servers and fund development to improve Workoutnote.
        </p>
        <p>
            We use a third-party to provide monetisation technologies for our site. You can review their privacy and cookie policy
            <a href="https://t.sidekickopen81.com/s1t/c/5/f18dQhb0S7lM8dDMPbW2n0x6l2B9nMJN7t5XWPdSD1CN3Mqr6Kf6qvsV1hqmM8j652j103?te=W3R5hFj4cm2zwW45W2z03S-0tsW3Fbt5S45TQMvW3z8psN45SzBB4mM-31&amp;si=8000000000695805&amp;pi=29db501f-68cd-439b-d357-26338aa5e354">here</a>.
        </p>

        <h2 class="title is-3 is-size-4-mobile">Updates to this Policy</h2>
        <p>
            We reserve the right to update this document at any time.
        </p>

    </div>
{% endblock %}