{% extends 'index/base.html' %}
{% block content %}
    {% load static %}
    <script>
        let selectExerciseDiv, exercisesListDiv, filterExerciseBodyPart, filterExerciseCategory, filterText, selectedExerciseName, selectedExerciseIcon;
        let allExercises = [{% for exercise in exercises %}{name: '{{ exercise.name }}',icon: '{{ exercise.icon }}',bodyPart: '{{ exercise.body_part }}',category: '{{ exercise.category }}'},{% endfor %}];
        let selectedExercise = {name: '{{ exercises.0.name }}', icon: '{{ exercises.0.icon }}', bodyPart: '{{ exercises.0.body_part }}', category: '{{ exercises.0.category }}'};
        document.addEventListener('DOMContentLoaded', () => {
            selectExerciseDiv = document.getElementById('selectExerciseDiv');
            exercisesListDiv = document.getElementById('exercisesListDiv');
            selectedExerciseName = document.getElementById('selectedExerciseName');
            selectedExerciseIcon = document.getElementById('selectedExerciseIcon');

            document.getElementById('filterExerciseBodyPart').addEventListener('change', (event) => {
                filterExerciseBodyPart = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
            document.getElementById('filterExerciseCategory').addEventListener('change', (event) => {
                filterExerciseCategory = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
        });

        function hideAddLiftFormClick() {
            addLiftForm.style.display = 'none';
        }

        function showExerciseSelectorDivClick() {
            if (document.readyState === "complete")
                selectExerciseDiv.style.display = 'block';
        }

        function hideExerciseSelectorDivClick() {
            selectExerciseDiv.style.display = 'none';
        }

        function onFilterTextChanged(input) {
            filterText = input.value.length > 0 ? input.value : null;
            filterExercises();
        }

        function filterExercises() {
            let displayedExercises = allExercises.slice();

            if (filterText != null) {
                let filterTextLower = filterText.toLowerCase();
                for (let i = 0; i < displayedExercises.length; i++)
                    if (!displayedExercises[i].name.toLowerCase().includes(filterTextLower)) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                let newArray = [];
                for (let i = 0; i < displayedExercises.length; i++) {
                    if (displayedExercises[i].name.toLowerCase().startsWith(filterTextLower)) {
                        newArray.push(displayedExercises[i]);
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                }
                displayedExercises = newArray.concat(displayedExercises);
            }

            if (filterExerciseBodyPart != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].bodyPart !== filterExerciseBodyPart) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
            if (filterExerciseCategory != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].category !== filterExerciseCategory) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }

            exercisesListDiv.innerHTML = '';
            for (let i = 0; i < displayedExercises.length; i++) {
                let newElementHtml = '<span class="exerciseitem__inner"> <i class="exerciseitem__icon slicon ' + displayedExercises[i].icon + '"></i> <span class="exerciseitem__name__container"> <span class="exerciseitem__name">' + displayedExercises[i].name + '</span> <div class="pt-1"><span class="exerciseitem__count">13,354,162 lifts</span></div> </span> </span>';
                let newElement = document.createElement('a');
                newElement.href = '{% url 'strength standards' %}?exercise=' + displayedExercises[i].name + '"';
                newElement.className = 'button exerciseitem';
                newElement.innerHTML = newElementHtml;
                exercisesListDiv.appendChild(newElement);
            }
        }

        function selectExerciseClick(name) {
            let newExercise = null;
            let nameLower = name.toLowerCase();
            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name.toLowerCase() === nameLower) {
                    newExercise = allExercises[i];
                    break;
                }

            if (newExercise != null) {
                selectedExerciseName.value = newExercise.name;
                selectedExerciseIcon.classList.remove(selectedExercise.icon);
                selectedExerciseIcon.classList.add(newExercise.icon);
                selectedExercise = newExercise;
                hideExerciseSelectorDivClick();
            }
        }
    </script>
    <div class="section-box content">
        <h1 class="title is-2 is-size-3-mobile">
            Weightlifting Strength Standards
        </h1>
        <p>
            The strength standards on this page grade your one-rep max performance against other
            adult lifters at your bodyweight.
        </p>
        <p>
            Our strength standards are based on millions of lifts entered by Strength Level users.
        </p>
    </div>
    <div class="section-box inline-exercise-modal" id="exerciseSelectorContainer" style="display: block;">
        <header class="modal-card-head"><h2 class="title is-3 is-size-4-mobile collapsible__title"><span>By Exercise</span></h2></header>
        <section class="modal-card-search">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input onchange="onFilterTextChanged(this);" type="text" placeholder="Search..." autocomplete="off" class="input">
                    <span class="icon is-small is-left"><i class="slicon slicon-fa-search"></i></span>
                </div>
            </div>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="select is-small">
                        <select id="filterExerciseBodyPart">
                            <option value="none">Any Body Part</option>
                            <option value="Back">Back</option>
                            <option value="Biceps">Biceps</option>
                            <option value="Chest">Chest</option>
                            <option value="Core">Core</option>
                            <option value="Forearms">Forearms</option>
                            <option value="Legs">Legs</option>
                            <option value="Shoulders">Shoulders</option>
                            <option value="Triceps">Triceps</option>
                            <option value="Whole Body">Whole Body</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <div class="select is-small">
                        <select id="filterExerciseCategory">
                            <option value="none">Any Category</option>
                            <option value="Barbell">Barbell</option>
                            <option value="Bodyweight">Bodyweight</option>
                            <option value="Cable">Cable</option>
                            <option value="Dumbbell">Dumbbell</option>
                            <option value="Machine">Machine</option>
                            <option value="Olympic">Olympic</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-card-body is-paddingless">
            <div id="exercisesListDiv" class="px-4 py-3">
                {% for exercise in exercises %}
                    <a href="{% url 'strength standards' %}?exercise={{ exercise.name }}" class="button exerciseitem">
                        <span class="exerciseitem__inner">
                            <i class="exerciseitem__icon slicon {{ exercise.icon }}"></i>
                            <span class="exerciseitem__name__container">
                                <span class="exerciseitem__name">{{ exercise.name }}</span>
                                <div class="pt-1"><span
                                        class="exerciseitem__count">13,354,162 lifts</span></div>
                            </span>
                        </span>
                    </a>
                {% endfor %}
                <div class="field">
                    <div class="control"><a class="button">
                        More Exercises...
                    </a></div>
                </div>
            </div>
        </section>
    </div>
    <div class="section-box">
        <h2 class="title is-3 is-size-4-mobile">Printable Sheets</h2>
        <div class="columns">
            <div class="column">
                <h3 class="subtitle is-4 is-size-5-mobile">Pounds (lb)</h3>
                <div class="buttons">
                    <a href="/strength-standards/male/lb" class="button">♂ Male
                        Strength
                        Standards (lb)</a>
                    <a href="/strength-standards/female/lb" class="button">♀ Female
                        Strength Standards (lb)</a>
                </div>
            </div>
            <div class="column">
                <h3 class="subtitle is-4 is-size-5-mobile">Kilograms (kg)</h3>
                <div class="buttons">
                    <a href="/strength-standards/male/kg" class="button">♂ Male
                        Strength
                        Standards (kg)</a>
                    <a href="/strength-standards/female/kg" class="button">♀ Female
                        Strength Standards (kg)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Powerlifting Standards</h2>
        <p>
            We have powerlifting standards so that you can compare the total of your bench/squat/deadlift against
            other lifters who use Strength Level.
        </p>
        <p>
            <a href="{% url 'powerlifting standards' %}" class="button">Powerlifting Standards</a>
        </p>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Rate Your Lifts Against Other People</h2>
        <p>
            The Strength Level Calculator can show your exact level of strength at any bodyweight.
        </p>
        <p>
            <a href="/" class="button is-primary">
                Calculate Your Strength
            </a>
        </p>
    </div>
{% endblock %}