{% extends 'index/base.html' %}
{% block content %}
    {% load static %}
    <div class="section-box content">
        <h1 class="title is-2 is-size-3-mobile">Workoutnote Training Logs</h1>

        <h2 class="title is-3 is-size-4-mobile">How to get started</h2>
        <p>
            Register to join the Workoutnote community.
        </p>
        <p>
            <a class="button is-primary" href="{% url 'register' %}">
                Register
            </a>
        </p>

        <h2 class="title is-3 is-size-4-mobile">
            Log your lifts at the gym and keep track of your workouts
        </h2>
        <p>
            <img src="./training-log_files/log-your-exercises.png" width="100%" style="max-width: 600px">
        </p>
        <p>
            <img src="./training-log_files/strength-comparison.png" width="100%" style="max-width: 600px">
        </p>

        <h2 class="title is-3 is-size-4-mobile">Track your progress over time</h2>
        <p>
            <img src="./training-log_files/history.png" width="100%" style="max-width: 600px">
        </p>

        <h2 class="title is-3 is-size-4-mobile">Follow your friends and other lifters </h2>
        <p>
            <img src="./training-log_files/friends.png" width="100%" style="max-width: 600px">
        </p>
        <p>
            <a class="button is-primary" href="{% url 'register' %}">
                Register
            </a>
        </p>
    </div>
{% endblock %}