<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head"><p class="modal-card-title">Add Lift</p>
            <button aria-label="close" type="button" class="delete"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">Exercise</label></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control control--modal has-icons-left has-icons-right"><input type="hidden" name="exercise" value="bench-press"> <input type="text" class="input"> <span
                                class="icon is-left has-text-dark"><i class="slicon slicon-2x slicon-exercise-bench-press"></i></span></div>
                    </div>
                </div>
            </div>
            <div><!---->
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label for="liftmass" class="label">
                        Lift
                    </label></div>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <div class="control is-expanded"><input type="number" id="liftmass" name="liftmass" tabindex="1" min="1" max="1500" step="0.1" required="required" class="input"></div>
                                <div class="control"><span class="button is-static">kg</span></div>
                            </div> <!----></div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label for="repetitions" class="label">Repetitions</label></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control"><input type="number" name="repetitions" id="repetitions" min="1" max="500" tabindex="2" class="input"></div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label for="sets" class="label">Sets</label></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control"><input type="number" name="sets" id="sets" tabindex="3" min="1" max="10" class="input"></div>
                        </div>
                    </div>
                </div> <!----> <input name="liftmassunit" type="hidden" value="kg"> <input name="timezone" type="hidden" value="5"> <input type="hidden" name="action" value="addlift"></div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons"><input type="hidden" name="date" value="2021-06-19"> <input type="submit" name="addlift" value="Add Lift" tabindex="4" class="button is-primary">
                <input type="submit" name="addwarmup" value="Add Warmup" tabindex="5" class="button">
                <a class="button">Close</a></div>
        </footer>
    </div>
</div>