@font-face {
    font-family: "workoutnote";
    src: url("workoutnote.woff2?fabf82305d499377a01e24d7bb5fb30d") format("woff2");
}

.slicon {
    line-height: 1;
}

.slicon-2x {
    font-size: 2em
}

.slicon:before {
    font-family: workoutnote, serif !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.slicon-bodypart-back:before {
    content: "\f101";
}

.slicon-bodypart-biceps:before {
    content: "\f102";
}

.slicon-bodypart-chest:before {
    content: "\f103";
}

.slicon-bodypart-core:before {
    content: "\f104";
}

.slicon-bodypart-forearms:before {
    content: "\f105";
}

.slicon-bodypart-legs:before {
    content: "\f106";
}

.slicon-bodypart-shoulders:before {
    content: "\f107";
}

.slicon-bodypart-triceps:before {
    content: "\f108";
}

.slicon-bodypart-whole-body:before {
    content: "\f109";
}

.slicon-exercise-barbell-curl:before {
    content: "\f10a";
}

.slicon-exercise-barbell-shrug:before {
    content: "\f10b";
}

.slicon-exercise-bench-press:before {
    content: "\f10c";
}

.slicon-exercise-bent-over-row:before {
    content: "\f10d";
}

.slicon-exercise-chin-ups:before {
    content: "\f10e";
}

.slicon-exercise-clean-and-jerk:before {
    content: "\f10f";
}

.slicon-exercise-clean-and-press:before {
    content: "\f110";
}

.slicon-exercise-clean:before {
    content: "\f111";
}

.slicon-exercise-crunches:before {
    content: "\f112";
}

.slicon-exercise-deadlift:before {
    content: "\f113";
}

.slicon-exercise-decline-bench-press:before {
    content: "\f114";
}

.slicon-exercise-dips:before {
    content: "\f115";
}

.slicon-exercise-dumbbell-bench-press:before {
    content: "\f116";
}

.slicon-exercise-dumbbell-concentration-curl:before {
    content: "\f117";
}

.slicon-exercise-dumbbell-curl:before {
    content: "\f118";
}

.slicon-exercise-dumbbell-fly:before {
    content: "\f119";
}

.slicon-exercise-dumbbell-front-raise:before {
    content: "\f11a";
}

.slicon-exercise-dumbbell-lateral-raise:before {
    content: "\f11b";
}

.slicon-exercise-dumbbell-lunge:before {
    content: "\f11c";
}

.slicon-exercise-dumbbell-row:before {
    content: "\f11d";
}

.slicon-exercise-dumbbell-shoulder-press:before {
    content: "\f11e";
}

.slicon-exercise-dumbbell-shrug:before {
    content: "\f11f";
}

.slicon-exercise-dumbbell-tricep-extension:before {
    content: "\f120";
}

.slicon-exercise-front-squat:before {
    content: "\f121";
}

.slicon-exercise-good-morning:before {
    content: "\f122";
}

.slicon-exercise-hammer-curl:before {
    content: "\f123";
}

.slicon-exercise-hex-bar-deadlift:before {
    content: "\f124";
}

.slicon-exercise-hip-thrust:before {
    content: "\f125";
}

.slicon-exercise-horizontal-leg-press:before {
    content: "\f126";
}

.slicon-exercise-incline-bench-press:before {
    content: "\f127";
}

.slicon-exercise-incline-dumbbell-bench-press:before {
    content: "\f128";
}

.slicon-exercise-incline-dumbbell-fly:before {
    content: "\f129";
}

.slicon-exercise-lat-pulldown:before {
    content: "\f12a";
}

.slicon-exercise-leg-extension:before {
    content: "\f12b";
}

.slicon-exercise-lying-dumbbell-tricep-extension:before {
    content: "\f12c";
}

.slicon-exercise-lying-leg-curl:before {
    content: "\f12d";
}

.slicon-exercise-lying-tricep-extension:before {
    content: "\f12e";
}

.slicon-exercise-machine-calf-raise:before {
    content: "\f12f";
}

.slicon-exercise-muscle-ups:before {
    content: "\f130";
}

.slicon-exercise-overhead-squat:before {
    content: "\f131";
}

.slicon-exercise-pendlay-row:before {
    content: "\f132";
}

.slicon-exercise-power-clean:before {
    content: "\f133";
}

.slicon-exercise-preacher-curl:before {
    content: "\f134";
}

.slicon-exercise-pull-ups:before {
    content: "\f135";
}

.slicon-exercise-push-jerk:before {
    content: "\f136";
}

.slicon-exercise-push-press:before {
    content: "\f137";
}

.slicon-exercise-push-ups:before {
    content: "\f138";
}

.slicon-exercise-romanian-deadlift:before {
    content: "\f139";
}

.slicon-exercise-seated-leg-curl:before {
    content: "\f13a";
}

.slicon-exercise-shoulder-press:before {
    content: "\f13b";
}

.slicon-exercise-single-leg-squat:before {
    content: "\f13c";
}

.slicon-exercise-sit-ups:before {
    content: "\f13d";
}

.slicon-exercise-sled-leg-press:before {
    content: "\f13e";
}

.slicon-exercise-snatch:before {
    content: "\f13f";
}

.slicon-exercise-squat:before {
    content: "\f140";
}

.slicon-exercise-strength-level:before {
    content: "\f141";
}

.slicon-exercise-sumo-deadlift:before {
    content: "\f142";
}

.slicon-exercise-t-bar-row:before {
    content: "\f143";
}

.slicon-exercise-thruster:before {
    content: "\f144";
}

.slicon-exercise-tricep-extension:before {
    content: "\f145";
}

.slicon-exercise-tricep-pushdown:before {
    content: "\f146";
}

.slicon-exercise-tricep-rope-pushdown:before {
    content: "\f147";
}

.slicon-exercise-upright-row:before {
    content: "\f148";
}

.slicon-fa-angle-down:before {
    content: "\f149";
}

.slicon-fa-arrow-down:before {
    content: "\f14a";
}

.slicon-fa-arrow-up:before {
    content: "\f14b";
}

.modal-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    -ms-overflow-y: visible
}

@media (min-width: 993px) {
    .modal-card {
        max-width: calc(100vw - 290px);
    }
}

@media (max-width: 993px) {
    .modal-card {
        max-width: calc(100vw - 40px);
    }
}

.modal-card-head, .modal-card-foot {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}

.modal-card-head {
    border-bottom: 1px solid #b5b5b5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.modal-card-foot {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #b5b5b5
}

.modal-card-title {
    color: #363636;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-card-search {
    background: white;
    padding: 20px;
}

.modal-card-foot .button:not(:last-child) {
    margin-right: .5em
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px
}

.input, .textarea, .select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top
}

.input, .textarea, .select select {
    background-color: #fff;
    border-color: #b5b5b5;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3)
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3)
}

.input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3)
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3)
}

.input:hover, .textarea:hover, .select select:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered {
    border-color: #7a7a7a
}

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
    border-color: #4a4a4a;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25)
}

.input[disabled], .textarea[disabled], .select select[disabled], fieldset[disabled] .input, fieldset[disabled] .textarea, fieldset[disabled] .select select, .select fieldset[disabled] select {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.input[disabled]::-moz-placeholder, .textarea[disabled]::-moz-placeholder, .select select[disabled]::-moz-placeholder, fieldset[disabled] .input::-moz-placeholder, fieldset[disabled] .textarea::-moz-placeholder, fieldset[disabled] .select select::-moz-placeholder, .select fieldset[disabled] select::-moz-placeholder {
    color: rgba(122, 122, 122, 0.3)
}

.input[disabled]::-webkit-input-placeholder, .textarea[disabled]::-webkit-input-placeholder, .select select[disabled]::-webkit-input-placeholder, fieldset[disabled] .input::-webkit-input-placeholder, fieldset[disabled] .textarea::-webkit-input-placeholder, fieldset[disabled] .select select::-webkit-input-placeholder, .select fieldset[disabled] select::-webkit-input-placeholder {
    color: rgba(122, 122, 122, 0.3)
}

.input[disabled]:-moz-placeholder, .textarea[disabled]:-moz-placeholder, .select select[disabled]:-moz-placeholder, fieldset[disabled] .input:-moz-placeholder, fieldset[disabled] .textarea:-moz-placeholder, fieldset[disabled] .select select:-moz-placeholder, .select fieldset[disabled] select:-moz-placeholder {
    color: rgba(122, 122, 122, 0.3)
}

.input[disabled]:-ms-input-placeholder, .textarea[disabled]:-ms-input-placeholder, .select select[disabled]:-ms-input-placeholder, fieldset[disabled] .input:-ms-input-placeholder, fieldset[disabled] .textarea:-ms-input-placeholder, fieldset[disabled] .select select:-ms-input-placeholder, .select fieldset[disabled] select:-ms-input-placeholder {
    color: rgba(122, 122, 122, 0.3)
}

.input, .textarea {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%
}

.input[readonly], .textarea[readonly] {
    box-shadow: none
}

.is-grouped {
    display: flex;
}