{% extends 'base.html' %}
{% block content %}
    <div class="section-box">
        <h1 class="title is-2 is-size-3-mobile">One Rep Max Calculator</h1>
        <p>
            Calculate your one-rep max (1RM) for any lift. Your one-rep max is the max weight you can lift
            for a single repetition for a given exercise.
        </p>
        <form id="oneRepMaxCalculator" action="{% url 'one rep max calculator' %}" method="post">
            {% csrf_token %}
            <div >
                <div ><label for="liftmass" class="label">
                    Lift
                </label></div>
                <div >
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="number" id="liftmass" name="liftmass" min="1" max="1500" required="required" step="0.1" class="input">
                        </div>
                        <div class="control"><span class="button is-static">kg</span></div>
                    </div>
                </div>
            </div>
            <div >
                <div ><label for="repetitions" class="label">Repetitions</label></div>
                <div >
                    <input type="number" name="repetitions" id="repetitions" min="1" max="500" class="input" required="required">
                </div>
            </div>
            <div >
                <div ></div>
                <div >
                    <div >
                        <div class="control">
                            <input type="submit" value="Calculate One Rep Max" class="button is-primary is-medium">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if calculator_result_status == 'OK' %}
        <div class="section-box">
            <h2 class="title is-3 is-size-4-mobile">
                Your one rep max is
                <strong>{{ result_number }} kg</strong>
            </h2>
            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <th style="width: 33%">Percentage of 1RM</th>
                    <th style="width: 33%">Lift Weight</th>
                    <th>Repetitions of 1RM</th>
                </tr>
                </thead>
                <tbody>
                {% for result_item in result_table_1 %}
                    <tr>
                        <td>{{ result_item.percentage }}%</td>
                        <td>{{ result_item.liftmass }} kg</td>
                        <td>{{ result_item.reps_of_1rm }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="notification " style="background-color: #f0d500;">
                <table>
                    <tbody>
                    <tr>
                        <td style="vertical-align: middle; width: 124px;" class="pr-2">
                            <a href="https://runninglevel.com/?utm_source=runninglevel&amp;utm_medium=banner&amp;utm_campaign=launch&amp;utm_content=1rm_result" class="is-text" target="_blank">
                                <img src="/images/runninglevel.svg" width="112" height="28" alt="Running Level">
                            </a>
                        </td>
                        <td style="vertical-align: middle">
                            <strong>New!</strong> <a href="https://runninglevel.com/?utm_source=runninglevel&amp;utm_medium=banner&amp;utm_campaign=launch&amp;utm_content=1rm_result" class="is-text"
                                                     target="_blank">Calculate your Running Level</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% elif calculator_result_status == 'FAIL' %}
        <!---TODO: place the fail case here--->
    {% endif %}
    <div class="section-box">
        <h2 class="title is-3 is-size-4-mobile">Repetition Percentages of 1RM</h2>
        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                {% if result_number %}
                    <th style="width: 33%;">Repetitions</th>
                    <th style="width: 33%;">Lift Weight</th>
                {% else %}
                    <th style="width: 50%;">Repetitions</th>
                {% endif %}
                <th>Percentage of 1RM</th>
            </tr>
            </thead>
            <tbody>
            {% for result_item in result_table_2 %}
                <tr>
                    <td>{{ result_item.reps_of_1rm }}</td>
                    {% if result_number %}
                        <td>{{ result_item.liftmass }} kg</td>
                    {% endif %}
                    <td>{{ result_item.percentage }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="section-box content">
        <h2 class="title is-3 is-size-4-mobile">Rate Your Lifts Against Other People</h2>
        <p>
            The Workoutnote Calculator can show your exact level of strength at any bodyweight.
        </p>
        <p>
            <a href="{% url 'index' %}" class="button is-primary">
                Calculate Your Strength
            </a>
        </p>
    </div>
{% endblock %}