{% extends 'base.html' %}
{% block content %}
    <div id="wilksContainer">
        <h2>
            Calculate the Wilks Score for your gender/bodyweight in kg
        </h2>
        <div>
            <p>
                The Wilks Score (also known as Wilks Coefficient) measures your strength in powerlifting against
                other
                powerlifters with different bodyweights across both genders. It was invented by Robert Wilks of
                Powerlifting
                Australia.
            </p>
        </div>
        <form action="{% url 'wilks calculator' %}" method="post" id="powerliftingForm">
            {% csrf_token %}
            <div>
                <div><label for="splitform_gender">성별</label></div>
                <div>
                    <div>
                        <div>
                            <div><select id="splitform_gender" name="gender">
                                <option value="male">
                                    남성
                                </option>
                                <option value="female">
                                    여자
                                </option>
                            </select></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div><label for="splitform_bodymass">Bodyweight</label></div>
                <div>
                    <div>
                        <div><input type="number" id="splitform_bodymass" name="bodymass" required="required" min="5" max="400" step="0.1"></div>
                        <div><span>kg</span></div>
                        <!----></div>
                </div>
            </div>
            <div>
                <div><label>Method</label></div>
                <div>
                    <div>
                        <div>
                            <label>
                                <input type="radio" onclick="splitTotalCheck()" name="method" value="split" checked id="splitCheck"> Separately
                            </label>
                            <label>
                                <input type="radio" onclick="splitTotalCheck()" name="method" value="total" id="totalCheck"> AddedUp
                            </label>
                        </div>
                        <p>
                            Enter your best bench press, squat and deadlift (conventional or sumo)
                        </p></div>
                </div>
            </div>
            <div id="splitLiftInputBlock">
                <div>
                    <div><label for="benchliftmass">
                        Bench Press </label></div>
                    <div>
                        <div>
                            <div><input type="number" id="benchliftmass" name="benchliftmass" min="1" max="1500" required="required" step="0.1"></div>
                            <div><span>kg</span></div>
                            <div><input type="number" name="benchrepetitions" min="1" max="500"></div>
                            <div><span>
                            반복
                        </span></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div><label for="squatliftmass">
                        Back Squat </label></div>
                    <div>
                        <div>
                            <div><input type="number" id="squatliftmass" name="squatliftmass" min="1" max="1500" required="required" step="0.1"></div>
                            <div><span>kg</span></div>
                            <div><input type="number" name="squatrepetitions" min="1" max="500"></div>
                            <div><span>
                            반복
                        </span></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div><label for="deadliftliftmass">
                        Deadlift </label></div>
                    <div>
                        <div>
                            <div><input type="number" id="deadliftliftmass" name="deadliftliftmass" min="1" max="1500" required="required" step="0.1"></div>
                            <div><span>kg</span></div>
                            <div><input type="number" name="deadliftrepetitions" min="1" max="500"></div>
                            <div><span>
                            반복
                        </span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="totalLiftInputBlock" style="display: none">
                <div>
                    <div><label for="totalform_liftmass">
                        Total Lift
                    </label></div>
                    <div>
                        <div>
                            <div><input type="number" id="totalform_liftmass" name="totalliftmass" min="1" max="4000" required="required" step="0.1"></div>
                            <div><span>kg</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div></div>
                <div>
                    <div>
                        <div>
                            <button type="submit" onclick="submit()">Calculate Score</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    {% if calculator_result_status == 'OK' %}
        <div class="sub_content">
            <div id="wilksScoreResults">
                <h2>Your Wilks Score is
                    <strong>{{ wilks_score }}</strong>
                </h2>

                <div>
                    <p>
                        Based on a total lift of
                        <strong>
                            {{ total_lift_mass }} kg </strong>
                        in bench press, squat and deadlift at a bodyweight of
                        <strong>
                            {{ body_weight }} kg </strong>
                    </p>
                </div>

                <table>
                    <thead>
                    <tr>
                        <th width="50%" style="text-align: left;">Level</th>
                        <th style="text-align: left;">Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Untrained</td>
                        <td>120</td>
                    </tr>
                    <tr>
                        <td>Novice</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Intermediate</td>
                        <td>238</td>
                    </tr>
                    <tr>
                        <td>Advanced</td>
                        <td>326</td>
                    </tr>
                    <tr>
                        <td>Elite</td>
                        <td>414</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% elif calculator_result_status == 'FAIL' %}
        <!---TODO: place the fail case here--->
    {% endif %}

    <script>
        function splitTotalCheck() {
            if (document.getElementById('splitCheck').checked) {
                document.getElementById('totalLiftInputBlock').style.display = 'none';
                document.getElementById('splitLiftInputBlock').style.display = 'block';
            } else {
                document.getElementById('totalLiftInputBlock').style.display = 'block';
                document.getElementById('splitLiftInputBlock').style.display = 'none';
            }
        }

        function submit() {
            document.theForm.submit();
        }
    </script>
{% endblock %}