{% extends 'base.html' %}
{% block content %}
    <div class="login-page">
        <div class="form">
            <form action="{% url 'register' %}" method="post" class="register-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <input type="text" name="name" placeholder="Name" {% if name %}value="{{ name }}" {% endif %} required/>
                <input type="email" name="email" placeholder="이메일 주소" {% if email %}value="{{ email }}" {% endif %} required/>
                <input type="password" name="password" placeholder="비밀번호" {% if password %}value="{{ password }}" {% endif %} required/>
                {% if verify_now %}
                    <input type="number" name="verification_code" placeholder="Verification code" required/>
                {% endif %}
                {% if verify_now %}
                    <button>Verify and register</button>
                {% else %}
                    <button>Register</button>
                    <p class="message">Already registered? <a href="#">로그인</a></p>
                {% endif %}
            </form>
            <form action="{% url 'login' %}" method="post" class="login-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <input type="email" name="email" placeholder="이메일 주소" required/>
                <input type="password" name="password" placeholder="비밀번호" required/>
                <button>로그인</button>
                <p class="message">회원가입 안하셨나요? <a href="#">계정 생성</a></p>
            </form>
        </div>
    </div>

    <style>
        .login-page {
            width: 360px;
            padding: 3% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #0006b1;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            cursor: pointer;
        }

        .form button:hover, .form button:active, .form button:focus {
            background: #020079;
        }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

        .form .message a {
            color: #020079;
            text-decoration: none;
        }

        .form .register-form {
            display: none;
        }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

        .container .info span a {
            color: #000000;
            text-decoration: none;
        }
    </style>

    <script>
        {% if verify_now %}
            document.addEventListener('DOMContentLoaded', (_) => {
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
            });
        {% endif %}

        $('.message a').click(function () {
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>

    <div class="sub_content">
        <h1>1 Rep Max 계산기</h1>
        <div class="section-box">
            <p>
                모든 리프트에 대해 최대 1RM을 계산하기. Your one-rep max is the max weight you can lift
                for a single repetition for a given exercise.
            </p>
            <form id="oneRepMaxCalculator" action="{% url 'one rep max calculator' %}" method="post">
                {% csrf_token %}
                <div>
                    <div><label for="liftmass" class="label">
                        Lift
                    </label></div>
                    <div>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="number" id="liftmass" name="liftmass" min="1" max="1500" required="required" step="0.1" class="input">
                            </div>
                            <div class="control"><span class="button is-static">kg</span></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div><label for="repetitions" class="label">반복</label></div>
                    <div>
                        <input type="number" name="repetitions" id="repetitions" min="1" max="500" class="input" required="required">
                    </div>
                </div>
                <br>
                <div>
                    <div></div>
                    <div>
                        <div>
                            <div class="control">
                                <input type="submit" value="Calculate One Rep Max" class="button is-primary is-medium">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% if calculator_result_status == 'OK' %}
            <div class="section-box">
                <h2 class="title is-3 is-size-4-mobile">
                    Your one rep max is
                    <strong>{{ result_number }} kg</strong>
                </h2>
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <th style="width: 33%; text-align: left;">Percentage of 1RM</th>
                        <th style="width: 33%; text-align: left;">Lift Weight</th>
                        <th style="text-align: left;">1RM 반복</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result_item in result_table_1 %}
                        <tr>
                            <td>{{ result_item.percentage }}%</td>
                            <td>{{ result_item.liftmass }} kg</td>
                            <td>{{ result_item.reps_of_1rm }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="notification " style="background-color: #f0d500;">
                    <table>
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle; width: 124px;" class="pr-2">
                                <a href="https://runninglevel.com/?utm_source=runninglevel&amp;utm_medium=banner&amp;utm_campaign=launch&amp;utm_content=1rm_result" class="is-text" target="_blank">
                                    <img src="/images/runninglevel.svg" width="112" height="28" alt="Running Level">
                                </a>
                            </td>
                            <td style="vertical-align: middle">
                                <strong>New!</strong> <a href="https://runninglevel.com/?utm_source=runninglevel&amp;utm_medium=banner&amp;utm_campaign=launch&amp;utm_content=1rm_result"
                                                         class="is-text"
                                                         target="_blank">Calculate your Running Level</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% elif calculator_result_status == 'FAIL' %}
            <!---TODO: place the fail case here--->
        {% endif %}
    </div>

{% endblock %}
