<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Workoutnote.com</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'slicon.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
</head>

<body class="w3-content">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-collapse w3-top" style="z-index: 3; width: 250px; display: none;" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <a href="{% url 'index' %}">
            <img alt="Workoutnote" src="{% static 'Logo-white.svg' %}" height="55" style="cursor: pointer;">
        </a>
    </div>
    <div id="sidebar_middle_part" class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <a href="{% url 'index' %}" class="w3-bar-item w3-button {% if at_home %}w3-navcolor{% else %}w3-black{% endif %}">
            <img src="{% static 'Home-white.svg' %}" height="30" style="margin-left: 15px; margin-right: 5px">
            <span>홈</span>
        </a>
        <a href="{% url 'calendar' %}" class="w3-bar-item w3-button {% if at_calendar %}w3-navcolor{% else %}w3-black{% endif %}">
            <img src="{% static 'Calendar-white.svg' %}" height="30" style="margin-left: 15px; margin-right: 5px">
            <span>내 캘린더</span>
        </a>
        <a href="{% url 'calculators' %}" class="w3-bar-item w3-button {% if at_calculators %}w3-navcolor{% else %}w3-black{% endif %}">
            <img src="{% static 'Ranking-white.svg' %}" height="30" style="margin-left: 15px; margin-right: 5px">
            <span>체력 순위</span>
        </a>
    </div>
    <div id="sidebar_bottom_part">
        <a href="{% url 'settings' %}" class="w3-bar-item w3-button {% if at_settings %}w3-navcolor{% else %}w3-black{% endif %}">
            <img src="{% static 'Settings-white.svg' %}" height="50" width="50">
            <span>설정</span>
        </a>
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button" style="margin-bottom: 20px;">
            <img src="{% static 'Logout-white.svg' %}" height="30" style="margin-left: 15px; margin-right: 5px">
            <span>로그아웃</span>
        </a>
        <span style="font-size: x-small; margin-left: 10px;">©2021 by Deltoid. All rights reserved.</span>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-16 w3-wide">
        <a href="{% url 'index' %}">
            <img alt="Workoutnote" src="{% static 'Logo-white.svg' %}" height="45" style="cursor: pointer;">
        </a>
    </div>
    <div class="w3-bar-item w3-padding-16 w3-button w3-right">
        <img onclick="toggleSidebar();" src="{% static 'menu.png' %}" width="40px" height="40px" style="padding: 5px 5px 5px 5px;">
    </div>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="toggleSidebar();" style="cursor: pointer; display: none;" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px;">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    {% if title %}
        <header class="w3-container w3-xlarge">
            <h1 class="w3-left">{{ title }}</h1>
        </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    <div id="selectExerciseDiv" class="modal w3-top" style="display: none; margin-top: 20px;">
        <div onclick="hideExerciseSelectorDivClick();" class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head"><p class="modal-card-title">운동 선택</p></header>
            <section class="modal-card-search">
                <div>
                    <div class="control is-expanded has-icons-left">
                        <input onchange="onFilterTextChanged(this);" type="text" placeholder="Search..." autocomplete="off" class="input">
                    </div>
                </div>
                <div class="is-grouped is-grouped-multiline" style="margin-top: 5px;">
                    <div style="margin-right: 5px;">
                        <div class="select is-small">
                            <select id="filterExerciseBodyPart" style="cursor: pointer;" required>
                                <option value="all">모두</option>
                                {% for bodyPart in body_parts %}
                                    <option value="{{ bodyPart.name }}">{{ bodyPart.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control" style="display: none">
                        <div class="select is-small">
                            <select id="filterExerciseCategory" style="cursor: pointer;" required>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <section class="modal-card-body">
                <div id="exercisesListDiv" style="min-height: 415px;">
                    {% for exercise in exercises %}
                        <a onclick="selectExerciseClick('{{ exercise.name }}')" style="display: flex; align-content: center; border-top: 1px solid lightgrey; padding: 3px; cursor: pointer;">
                            <img src="{{ exercise.icon.url }}" height="35" width="35" style="margin: 5px">
                            <div style="display: inline-block; margin-left: 6px;">
                                {% if exercise.name_translations and 'EN' in exercise.name_translations %}
                                    <span style="display: block">{{ exercise.name_translations.EN }}</span>
                                    <span style="display: block; font-size: small; color: #6f94c6">{{ exercise.name }} ({{ exercise.body_part.name }})</span>
                                {% else %}
                                    <span style="display: block">{{ exercise.name }} ({{ exercise.body_part.name }})</span>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
            <footer class="modal-card-foot">
                <a onclick="hideExerciseSelectorDivClick();" style="cursor: pointer;">닫기</a>
            </footer>
        </div>
    </div>
</div>

</body>

<script>
    function toggleSidebar() {
        let sidebar = document.getElementById('mySidebar');
        let overlay = document.getElementById('myOverlay');

        if (sidebar.style.display === 'none') {
            sidebar.style.display = 'block';
            overlay.style.display = 'block';
        } else {
            sidebar.style.display = 'none';
            overlay.style.display = 'none';
        }
    }

    function message_broadcast(value) {
        if (value.action === 'exercises')
            localStorage.setItem('exercises_backup', JSON.stringify(value.value));
        localStorage.setItem('message', JSON.stringify(value));
        window.dispatchEvent(new Event('storage'));
    }
</script>

</html>
