{% extends 'base.html' %}
{% block content %}
    <div id="calendar_navigator">
        <a class="arrow_left calendar_navigation_button" onclick="previousMonthClick();"></a>
        <a id="month_text">August, 2021</a>
        <a class="arrow_right calendar_navigation_button" onclick="nextMonthClick();"></a>
    </div>
    <table id="calendar_table">
        <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
        </tr>
    </table>
    <div id="selected_date_content">
    </div>

    <style>
        @media (min-width: 801px) {
            #month_text {
                font-size: xx-large;
                padding: 0;
                margin: 0;
                line-height: 1;
            }

            .arrow_right {
                cursor: pointer;
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);

                padding: 0;
                margin: 0;
                line-height: 1;
            }

            .arrow_left {
                cursor: pointer;
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);

                padding: 0;
                margin: 0;
                line-height: 1;
            }

            #calendar_navigator {
                height: 100px;
                margin-left: 40px;
                margin-right: 40px;
                border: none;
                border-spacing: 0;
                width: calc(100% - 80px);
                text-align: center;
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
            }

            .calendar_navigation_button {
                width: 26px;
                height: 26px;
            }

            #calendar_table {
                margin-left: 40px;
                margin-right: 40px;
                margin-bottom: 100px;
                border: none;
                border-spacing: 0;
                width: calc(100% - 80px);
                text-align: center;
            }

            #calendar_table th {
                padding: 10px;
                color: #6633CC;
                background: #F6F5F5;
            }

            .calendar_cell {
                width: 64px;
                height: 64px;
                border-radius: 32px;
                margin-top: 4px;
                font-weight: bold;

                cursor: pointer;
                background: none;
                color: #3a3a3a;
                border: none;
                text-align: center;
                vertical-align: middle;
            }

            .today_cell, .calendar_cell:hover {
                background: #C5BDEC;
            }

            .calendar_cell_outline {
                border-radius: 32px;
                border: 4px solid #6633CC;
            }

            .workout_day {
                font-weight: bolder;
                color: #6633CC;
            }
        }

        @media (max-width: 800px) {
            #calendar_navigator {
                margin-top: 32px;
                margin-bottom: 8px;
                text-align: center;
                display: flex;
                justify-content: space-between;
            }

            #month_text {
                font-size: x-large;

                padding: 0;
                margin: 0;
                line-height: 1;
            }

            .arrow_right {
                width: 24px;
                height: 24px;
                cursor: pointer;
                border: solid black;
                border-width: 0 3px 3px 0;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            .arrow_left {
                width: 24px;
                height: 24px;
                cursor: pointer;
                border: solid black;
                border-width: 0 3px 3px 0;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }

            #calendar_table {
                width: 100%;
                margin-bottom: 32px;
                margin-top: 32px;
                border: none;
                border-spacing: 0;
                text-align: center;
            }

            #calendar_table th {
                padding: 2px;
                color: #6633CC;
                background: #F6F5F5;
            }

            .calendar_cell {
                width: 36px;
                height: 36px;
                border-radius: 18px;
                margin: 4px;
                padding: 0;
                font-weight: bold;

                cursor: pointer;
                background: none;
                color: #3a3a3a;
                border: none;
                text-align: center;
                vertical-align: middle;
            }

            .today_cell, .calendar_cell:hover {
                background: #C5BDEC;
            }

            .calendar_cell_outline {
                border-radius: 18px;
                border: 2px solid #6633CC;
            }

            .workout_day {
                font-weight: bolder;
                color: #6633CC;
            }
        }

        td {
            color: #3a3a3a;
        }
    </style>

    <script>
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const weekdayNames = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
        const workoutDays = [{% for workout_day in workout_days %}'{{ workout_day }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
        let selectedMonth;
        let sessionKey;

        $(document).ready(function () {
            selectedMonth = new Date();
            selectedMonth.setDate(1);
            selectedMonth.setHours(0);
            selectedMonth.setMinutes(0);
            selectedMonth.setSeconds(0);
            selectedMonth.setMilliseconds(0);
            loadMonth(selectedMonth);

            let today = new Date();
            today.setHours(1);
            today.setMinutes(0);
            today.setSeconds(0);
            today.setMilliseconds(0);
            fetchDayWorkouts(today.getTime());
        });

        function loadMonth(date) {
            $("#calendar_table tr:not(:first-child)").empty();

            let mo = new Date(date.getTime());
            mo.setDate(1);
            mo.setHours(0);
            mo.setMinutes(0);
            mo.setSeconds(0);
            mo.setMilliseconds(0);

            $('#month_text').html(`${monthNames[mo.getMonth()]}, ${mo.getFullYear()}`);

            // days before this month
            if (mo.getDay() !== 0) {
                $('#calendar_table tr:last').after('<tr></tr>');
                for (let i = 0; i < mo.getDay(); i++)
                    $('#calendar_table tr:last').append('<td></td>');
            }

            const today = new Date();
            today.setHours(0);
            today.setMinutes(0);
            today.setSeconds(0);
            today.setMilliseconds(0);

            // current month days
            let currentMonth = mo.getMonth();
            while (mo.getMonth() === currentMonth) {
                if (mo.getDay() === 0)
                    $('#calendar_table tr:last').after('<tr></tr>');

                let moNoTz = new Date(mo.getTime());
                moNoTz.setUTCHours(0);
                moNoTz.setUTCMinutes(0);
                moNoTz.setUTCSeconds(0);
                moNoTz.setUTCMilliseconds(0);
                let moNoTzStr = `${moNoTz.getFullYear()}/${moNoTz.getMonth() + 1}/${moNoTz.getDate()}`;

                $('#calendar_table tr:last').append(`<td><button onclick="fetchDayWorkouts(${mo.getTime()});" class="calendar_cell ${$.inArray(moNoTzStr, workoutDays) > -1 ? "calendar_cell_outline" : ""} ${today.getTime() === mo.getTime() ? "today_cell" : ""}">${mo.getDate()}</button></td>`);

                mo.setDate(mo.getDate() + 1);
            }
        }

        function previousMonthClick() {
            selectedMonth.setMonth(selectedMonth.getMonth() - 1);
            loadMonth(selectedMonth);
        }

        function nextMonthClick() {
            selectedMonth.setMonth(selectedMonth.getMonth() + 1);
            loadMonth(selectedMonth);
        }

        function displayWorkouts(ts, workouts) {
            let date = new Date(ts);

            let rootDiv = $('#selected_date_content');
            rootDiv.empty();
            rootDiv.append(`<h4 style="color: #3f51b5"><b>${date.getFullYear()}.${date.getMonth() + 1}.${date.getDate()}. ${weekdayNames[date.getDay()]}</b></h4>`);
            for (let i = 0; i < workouts.length; i++) {
                rootDiv.append(`<div class="sub_content" style="min-height: 190px;"></div>`);
                let subDiv = $('.sub_content:last');
                subDiv.append(`<div style="height: 12px;">
                    <span style="color: #3f51b5; font-weight: bold;" class="w3-left">${workouts[i].title}</span>
                    <span class="w3-right">...</span>
                </div>`);
                subDiv.append('<hr style="border: 1px solid lightgrey;">');
                subDiv.append('<div style="display: inline-block; padding: 8px;"></div>');
                let liftsDiv = $('.sub_content:last div:last');
                for (let j = 0; j < workouts[i].lifts.length; j++) {
                    liftsDiv.append(`<span>${j + 1}. </span>`);
                    liftsDiv.append(`<span>${workouts[i].lifts[j].exercise_name}, </span>`);
                    liftsDiv.append(`<span>${workouts[i].lifts[j].lift_mass} KG, </span>`);
                    liftsDiv.append(`<span>${workouts[i].lifts[j].repetitions} REPS, </span>`);
                    liftsDiv.append(`<span>${workouts[i].lifts[j].one_rep_max} RM, </span>`);
                    liftsDiv.append('<br><br>');
                }

                let seconds = workouts[i].duration % 60
                let minutes = (Math.trunc(workouts[i].duration - seconds) / 60) % 60;
                let hours = Math.trunc(((Math.trunc((workouts[i].duration - seconds) / 60)) % 60 - minutes) / 60)
                subDiv.append(
                    `<div style="padding: 8px; text-align: center;" class="repeatButton">
                        <span style="font-weight: bold; font-size: large;" class="light-blue-text">
                            ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}
                        </span> <br>
                    </div>`);
            }
        }

        function fetchDayWorkouts(ts) {
            $.post('/api/fetch_workouts', `{"sessionKey": "{{ sessionKey }}", "dateTimestampMs": ${ts}}`).done((res) => res.success ? displayWorkouts(ts, res.workouts) : alert('No workout data found on selected day!'));
        }
    </script>
{% endblock %}
