{% extends 'base.html' %}
{% block content %}
    <div id="calendar_navigator">
        <a id="month_text" class="w3-center">August, 2021</a>
        <a class="w3-left w3-button arrow left calendar_navigation_button" onclick="previousMonthClick();"></a>
        <a class="w3-right w3-button arrow right calendar_navigation_button" onclick="nextMonthClick();"></a>
    </div>
    <table id="calendar_table">
        <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
        </tr>
    </table>

    <style>
        #calendar_navigator {
            height: 100px;
            margin-left: 40px;
            margin-right: 40px;
            border: none;
            border-spacing: 0;
            width: calc(100% - 80px);
            text-align: center;
            margin-top: 40px;
        }

        #month_text {
            font-size: xx-large;
        }

        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .calendar_navigation_button {
            width: 26px;
            height: 26px;
        }

        #calendar_table {
            margin-left: 40px;
            margin-right: 40px;
            border: none;
            border-spacing: 0;
            width: calc(100% - 80px);
            text-align: center;
        }

        #calendar_table th {
            padding: 10px;
            color: #6633CC;
            background: #F6F5F5;
        }

        .calendar_cell {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin-top: 4px;
            font-weight: bold;

            cursor: pointer;
            background: none;
            border: none;
            text-align: center;
            vertical-align: middle;
        }

        .today_cell, .calendar_cell:hover {
            background: #C5BDEC;
        }

        .calendar_cell_outline {
            border-radius: 32px;
            border: 4px solid #6633CC;
        }

        .workout_day {
            font-weight: bolder;
            color: #6633CC;
        }
    </style>

    <script>
        let currentMonth;
        const workoutDays = [{% for workout_day_ts in workout_days_ts %}{{ workout_day_ts }}{% if not forloop.last %}, {% endif %}{% endfor %}]

        $(document).ready(function () {
            currentMonth = new Date();
            currentMonth.setDate(1);
            loadMonth(currentMonth);
        });

        function loadMonth(date) {
            let mo = new Date(date.getTime());

            $("#calendar_table tr:not(:first-child)").empty();
            mo.setUTCDate(1);
            mo.setUTCHours(0);
            mo.setUTCMinutes(0);
            mo.setUTCSeconds(0);
            mo.setUTCMilliseconds(0);

            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            $('#month_text').html(`${monthNames[mo.getMonth()]}, ${mo.getFullYear()}`);

            // days before this month
            if (mo.getDay() !== 0) {
                $('#calendar_table tr:last').after('<tr></tr>');
                for (let i = 0; i < mo.getDay(); i++)
                    $('#calendar_table tr:last').append('<td></td>');
            }

            const today = new Date();
            today.setUTCDate(1);
            today.setUTCHours(0);
            today.setUTCMinutes(0);
            today.setUTCSeconds(0);
            today.setUTCMilliseconds(0);

            // current month days
            let currentMonth = mo.getMonth();
            while (mo.getMonth() === currentMonth) {
                if (mo.getDay() === 0)
                    $('#calendar_table tr:last').after('<tr></tr>');

                $('#calendar_table tr:last').append(`<td><button class="calendar_cell ${$.inArray(mo.getTime(), workoutDays) > -1 ? "calendar_cell_outline" : ""} ${today.getTime() === mo.getTime() ? "today_cell" : ""}">${mo.getDate()}</button></td>`);

                mo.setDate(mo.getDate() + 1);
            }
        }

        function previousMonthClick() {
            currentMonth.setMonth(currentMonth.getMonth() - 1);
            loadMonth(currentMonth);
        }

        function nextMonthClick() {
            currentMonth.setMonth(currentMonth.getMonth() + 1);
            loadMonth(currentMonth);
        }
    </script>
{% endblock %}