{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="sub_content" xmlns="http://www.w3.org/1999/html">
        <!-- head -->
        <div id="liftCreatorHead">
            <div class="w3-text-grey w3-left" style="display: inline-block;">
                <p style="font-size: small; margin: 0;">
                    <span id="stopwatch">{% now "SHORT_DATE_FORMAT" %}</span>
                    <span>{% now "D" %}</span>
                </p>
                <input id="workoutTitle" type="text" placeholder="예 : 내 운동" value="">
                <img onclick="document.getElementById('workoutTitle').focus();" src="{% static 'edit.png' %}"
                     width="14px" style="cursor: pointer;">
            </div>
            <span id="exerciseDurationDisplay" style="font-size: xx-large; color: #0006b1;">{% now "G:i:s" %}</span>
            <input id="exerciseDuration" type="number" name="exerciseDuration" value="0" hidden>
            <div style="display: inline-block;" class="w3-right">
                <a onclick="stopwatchControlButtonClick();" class="w3-button w3-buttoncolor"
                   style="padding: 8px 30px 8px 30px; border-radius: 10px;"><img id="timerControlButton"
                                                                                 src="{% static 'play.png' %}"
                                                                                 height="16px"></a>
            </div>
        </div>
        <!-- body -->
        <div id="liftCreatorBody">
            <button class="dummy_button" style="margin-bottom: 3px;" disabled>Fetch a prescribed exercise</button>
            <table id="newExercisesTable">
                <tr>
                    <th class="arrow_column"></th>
                    <th class="set_column">세트</th>
                    <th class="exercise_column">운동</th>
                    <th class="body_part_column">부분</th>
                    <th class="weight_column">KG</th>
                    <th class="repetition_column">반복</th>
                    <th class="rm_column">RM</th>
                    <th class="done_column"></th>
                </tr>
                <tr style="color: #777">
                    <td class="arrow_column"></td>
                    <td class="set_column light-grey-text"></td>
                    <td class="exercise_column" id="selectedExerciseName"
                        onclick="showExerciseSelectorDivClick();">{{ exercises.0.name }}</td>
                    <td class="body_part_column" id="selectedBodyPart">{{ exercises.0.body_part.name }}</td>
                    <td class="weight_column"><input id="newLiftWeight" class="newLiftWeight" type="number" min="1"
                                                     max="200" placeholder="1"
                                                     value="1"></td>
                    <td class="repetition_column"><input id="newLiftReps" class="newLiftReps" type="number" min="1"
                                                         max="30" placeholder="1"
                                                         value="1"></td>
                    <td class="rm_column" id="newRmMax"></td>
                    <td class="done_column">
                        <button onclick="addNewExercise();"
                                style="padding: 5px 5px 5px 5px; margin: 0 0 0 0; line-height: 1; border-radius: 15px; background: transparent; border: none; cursor: pointer;">
                            <img id="timerControlButton" src="{% static 'add.svg' %}" height="20px"></button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- tail -->
        <div style="height: 30px; margin-top: 50px;">
            <div style="display: inline-block;" class="w3-right">
                <a id="saveExerciseButton" onclick="saveExercises()" class="w3-button w3-buttoncolor"
                   style="padding: 8px 40px 8px 40px; border-radius: 8px; display: block;">저장</a>
            </div>
            <div style="display: inline-block;" class="w3-left">
                <a id="saveExerciseButton" onclick="clearExercises()" class="w3-button w3-buttoncolor"
                   style="padding: 8px 40px 8px 40px; border-radius: 8px; display: block;">삭제</a>
            </div>
        </div>
    </div>

    {% for day_str, workouts in workouts_by_days.items %}
        <h4 style="color: #3f51b5"><b>{{ day_str }}</b></h4>
        {% for workout, lifts in workouts.items %}
            <div class="sub_content" style="min-height: 190px;">
                <div style="height: 12px;">
                    <span style="color: #3f51b5; font-weight: bold;" class="w3-left">{{ workout.title }}</span>
                    <span class="w3-right">...</span>
                </div>
                <hr style="border: 1px solid lightgrey;">
                <div style="display: inline-block; padding: 8px;">
                    {% for lift in lifts %}
                        <span>{{ forloop.counter }}. </span>
                        <span>{{ lift.exercise.name }}</span>,
                        <span>{{ lift.exercise.body_part.name }}</span>,
                        <span>{{ lift.lift_mass|floatformat }} KG</span>,
                        <span>{{ lift.repetitions|floatformat }} Reps </span>,
                        <span>{{ lift.one_rep_max|floatformat }} RM </span>
                        <br>
                        <br>
                    {% endfor %}
                </div>
                <div style="padding: 8px; text-align: center;" class="repeatButton">
                    <span style="font-weight: bold; font-size: large;"
                          class="light-blue-text">{{ workout.get_duration_str }}</span> <br>
                    <a onclick="repeatWorkoutSession({{ workout.id }});" class="w3-button w3-buttoncolor"
                       style="padding: 5px 30px 5px 30px; border-radius: 4px; display: block; margin-top: 10px;">반복하기</a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <style>
        #liftCreatorHead {
            text-align: center;
        }

        #liftCreatorBody {
            margin-top: 50px;
        }

        #workoutTitle, .newLiftWeight, .newLiftReps, #newRmMax {
            font-size: 14px;
            color: #777;
            background: #0000;
            outline: none;
            box-sizing: border-box;
            border: none;
        }

        #workoutTitle {
            color: #C5BDEC;
            font-weight: bold;
            width: 40%;
            float: left;
        }

        #stopwatch {
            float: left;
            width: 40%;
            min-width: 128px;
            text-align: left;
        }

        #workoutTitle::placeholder {
            color: #C5BDEC;
        }

        /* region tables */
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
        }

        .arrow_column {
            width: 5%;
        }

        .set_column {
            width: 8%;
        }

        .exercise_column {
            width: 30%;
        }

        .body_part_column {
            width: 10%;
        }

        .weight_column {
            width: 10%
        }

        .rm_column {
            width: 10%
        }

        .repetition_column {
            width: 15%
        }

        .done_column {
            width: 12%
        }


        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        }

        th {
            background: lightgrey;
            color: white;
            font-size: small;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px;
            font-size: small;
        }

        .light-grey-text {
            color: lightgrey;
        }

        .dark-blue-text {
            color: #0006b1;;
        }

        .light-blue-text {
            color: #C5BDEC;
        }

        tr {
            border-bottom: 1.5px solid #eee;
        }

        /* endregion */

        @media (min-width: 601px) {
            .repeatButton {
                display: inline-block;
                float: right !important;
            }
        }

    </style>

    <script>
        let selectExerciseDiv, exercisesListDiv, filterExerciseBodyPart, filterExerciseCategory, filterText;
        let allExercises = [{% for exercise in exercises %}{id: {{ exercise.id }},
                name: '{{ exercise.name }}',
                iconUrl: '{{ exercise.icon.url }}',
                bodyPart: '{{ exercise.body_part.name }}',
                category: '{{ exercise.category.name }}'},{% endfor %}];
        let selectedExercise = {
            name: '{{ exercises.0.name }}',
            iconUrl: '{{ exercises.0.icon.url }}',
            bodyPart: '{{ exercises.0.body_part.name }}',
            category: '{{ exercises.0.category.name }}'
        };
        let stopwatchId, stopwatchSeconds = 0;

        function findExerciseByName(name) {
            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name === name)
                    return allExercises[i];
            return null;
        }

        let newExercises = [];
        let newSetNumber = 1, newExercise = "{{ exercises.0.name }}", newWeight = 1;
        let allWorkouts = [
            {% for _, workout_sessions in workouts_by_days.items %}
                {% for workout_session, lifts in workout_sessions.items %}
                    {
                        workout_session_id: {{ workout_session.id }},
                        title: "{{ workout_session.title }}",
                        lifts: [{% for lift in lifts %}{exerciseName: "{{ lift.exercise.name }}",liftMass: {{ lift.lift_mass }},reps: {{ lift.repetitions }},rmMax: {{ lift.one_rep_max }}}, {% endfor %}]
                    },
                {% endfor %}
            {% endfor %}];

        $(document).ready(function () {
            $(".default_option").click(function () {
                $(".dropdown ul").addClass("active");
            });

            $(".dropdown ul li").click(function () {
                $(".default_option").text($(this).text());
                $(".dropdown ul").removeClass("active");
            });

            $('#exerciseDurationDisplay').html("00:00:00");

            selectExerciseDiv = document.getElementById('selectExerciseDiv');
            exercisesListDiv = document.getElementById('exercisesListDiv');

            document.getElementById('filterExerciseBodyPart').addEventListener('change', (event) => {
                filterExerciseBodyPart = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
            document.getElementById('filterExerciseCategory').addEventListener('change', (event) => {
                filterExerciseCategory = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });

            let weight = parseInt($('#newLiftWeight').val());
            let reps = parseInt($('#newLiftReps').val());
            let rm = Math.trunc((weight + weight * reps * 0.025) * 100) / 100;
            $('#newRmMax').html(rm);

            $('#newLiftWeight').change(function () {
                let weight = parseInt($('#newLiftWeight').val());
                let reps = parseInt($('#newLiftReps').val());
                let rm = Math.trunc((weight + weight * reps * 0.025) * 100) / 100;
                $('#newRmMax').html(rm);
            });
            $('#newLiftReps').change(function () {
                let weight = parseInt($('#newLiftWeight').val());
                let reps = parseInt($('#newLiftReps').val());
                let rm = Math.trunc((weight + weight * reps * 0.025) * 100) / 100;
                $('#newRmMax').html(rm);
            });

            // tabs communication
            window.addEventListener("storage", function (_) {
                let event = JSON.parse(localStorage.getItem('message'));
                if (event.action === 'exercises') {
                    newExercises = event.value;
                    setNewExercisesOnUI(newExercises);
                } else if (event.action === 'stopwatchData') {
                    let stopwatchData = JSON.parse(localStorage.getItem('stopwatchData'));
                    $('#exerciseDurationDisplay').html(pad(stopwatchData.hours, 2) + ':' + pad(stopwatchData.minutes, 2) + ':' + pad(stopwatchData.seconds, 2));
                    $('#exerciseDuration').attr('value', stopwatchSeconds.toString());
                }
            });

            // recovers exercises from local storage (backupped when closing tab)
            let prevExercises = localStorage.getItem('exercises_backup');
            if (prevExercises != null) {
                newExercises = JSON.parse(prevExercises);
                setNewExercisesOnUI(newExercises);
            }

            let params = window.location.search.substr(1).split("&");
            let exercise;
            for (let i = 0; i < params.length; i++) {
                let kv = params[i].split('=');
                if (kv[0] === 'exerciseId')
                    for (let j = 0; j < allExercises.length; j++)
                        if (allExercises[j].id.toString() === kv[1]) {
                            exercise = allExercises[j];
                            break;
                        }
            }
            if (exercise != null) {
                $('#newLiftReps').val(1);
                selectExerciseClick(exercise.name);
            }
        });

        function setNewExercisesOnUI(exercises) {
            $("#newExercisesTable tr:not(:last-child, :first-child)").empty();

            for (let i = 0; i < exercises.length; i++) {
                if (exercises[i].enabled) {
                    $('#newExercisesTable tr:last').before(
                        `<tr id="exerciseRow${i}">` +
                        `   <td class="arrow_column">${i === 0 ? '' : `<a onclick="shiftLiftUp(${i});">△</a>`}${i === 0 || i === exercises.length - 1 ? '' : '<br>'}${i === exercises.length - 1 ? '' : `<a onclick="shiftLiftDown(${i});">▽</a>`}</td>` +
                        `   <td onclick="copyExercise(${i});" class="set_column dark-blue-text">${i + 1}</td>` +
                        `   <td onclick="copyExercise(${i});" class="exercise_column dark-blue-text">${exercises[i].exercise.name}</td>` +
                        `   <td onclick="copyExercise(${i});" class="body_part_column dark-blue-text">${exercises[i].exercise.bodyPart}</td>` +
                        `   <td class="weight_column">` +
                        `       <input id="liftWeight${i}" class="newLiftWeight dark-blue-text" type="number" min="1" max="200" placeholder="1" value="${exercises[i].liftMass}">` +
                        `   </td>` +
                        `   <td class="repetition_column dark-blue-text">` +
                        `       <input id="liftReps${i}" class="newLiftReps dark-blue-text" type="number" min="1" max="30" placeholder="1" value="${exercises[i].reps}">` +
                        `   </td>` +
                        `   <td id="rmMax${i}" class="rm_column dark-blue-text">${exercises[i].rmMax}</td>` +
                        `   <td class="done_column">` +
                        `       <a onclick="toggleExercise(${i});" class="w3-button w3-buttoncolor" style="padding: 5px; margin: 0; line-height: 1; border-radius: 2px;">` +
                        `           <img src="{% static 'checked.png' %}" height="20px">` +
                        `       </a>` +
                        `   </td>` +
                        `</tr>`
                    );
                    $(`#liftWeight${i}, #liftReps${i}`).change(function () {
                        let weight = parseInt($(`#liftWeight${i}`).val());
                        let reps = parseInt($(`#liftReps${i}`).val());

                        exercises[i].liftMass = weight;
                        exercises[i].reps = reps;
                        exercises[i].rmMax = Math.trunc((weight + weight * reps * 0.025) * 100) / 100;

                        message_broadcast({action: 'exercises', value: exercises});
                    });
                } else
                    $('#newExercisesTable tr:last').before(
                        `<tr id="exerciseRow${i}">` +
                        `   <td class="arrow_column">${i === 0 ? '' : `<a onclick="shiftLiftUp(${i});">△</a>`}${i === 0 || i === exercises.length - 1 ? '' : '<br>'}${i === exercises.length - 1 ? '' : `<a onclick="shiftLiftDown(${i});">▽</a>`}</td>` +
                        `	<td onclick="copyExercise(${i});" class="set_column light-grey-text">${i}</td>` +
                        `	<td onclick="copyExercise(${i});" class="exercise_column light-grey-text">${exercises[i].exercise.name}</td>` +
                        `	<td onclick="copyExercise(${i});" class="body_part_column light-grey-text">${exercises[i].exercise.bodyPart}</td>` +
                        `	<td class="weight_column light-grey-text">${exercises[i].liftMass}</td>` +
                        `	<td class="repetition_column light-grey-text">${exercises[i].reps}</td>` +
                        `	<td class="rm_column light-grey-text">${exercises[i].rmMax}</td>` +
                        `	<td class="done_column">` +
                        `		<a onclick="toggleExercise(${i});" class="w3-button w3-buttondisabledcolor" style="padding: 5px; margin: 0; line-height: 1; border-radius: 2px;">` +
                        `			<img src="{% static 'unchecked.png' %}" height="20px">` +
                        `		</a>` +
                        `	</td>` +
                        `</tr>`
                    );
            }
        }

        function showExerciseSelectorDivClick() {
            if (document.readyState === "complete") {
                $('body').css('background', '#e2e1e0');
                selectExerciseDiv.style.display = 'block';
            }
        }

        function hideExerciseSelectorDivClick() {
            $('body').css('background', '#fff');
            selectExerciseDiv.style.display = 'none';
        }

        function onFilterTextChanged(input) {
            filterText = input.value.length > 0 ? input.value : null;
            filterExercises();
        }

        function filterExercises() {
            let displayedExercises = allExercises.slice();

            if (filterText != null) {
                let filterTextLower = filterText.toLowerCase();
                for (let i = 0; i < displayedExercises.length; i++)
                    if (!displayedExercises[i].name.toLowerCase().includes(filterTextLower)) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                let newArray = [];
                for (let i = 0; i < displayedExercises.length; i++) {
                    if (displayedExercises[i].name.toLowerCase().startsWith(filterTextLower)) {
                        newArray.push(displayedExercises[i]);
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                }
                displayedExercises = newArray.concat(displayedExercises);
            }

            if (filterExerciseBodyPart != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].bodyPart !== filterExerciseBodyPart) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
            if (filterExerciseCategory != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].category !== filterExerciseCategory) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }

            exercisesListDiv.innerHTML = '';
            for (let i = 0; i < displayedExercises.length; i++) {
                console.log(displayedExercises[i].iconUrl);
                let newElementHtml = '<a onclick="selectExerciseClick(\'' + displayedExercises[i].name + '\')" style="display: block; border-top: 1px solid lightgrey; padding: 3px; cursor: pointer;"> <img src="' + displayedExercises[i].iconUrl + '" height="35" width="35" style="margin: 5px">' + displayedExercises[i].name + ' (' + displayedExercises[i].bodyPart + ')</a>';
                let newElement = document.createElement('div');
                newElement.className = 'card';
                newElement.innerHTML = newElementHtml;
                exercisesListDiv.appendChild(newElement);
            }
        }

        function selectExerciseClick(name) {
            let newExercise = null;
            let nameLower = name.toLowerCase();

            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name.toLowerCase() === nameLower) {
                    newExercise = allExercises[i];
                    break;
                }

            if (newExercise != null) {
                $('#selectedExerciseName').html(newExercise.name);
                $('#selectedBodyPart').html(newExercise.bodyPart);
                selectedExercise = newExercise;
                hideExerciseSelectorDivClick();
            }
        }

        function pad(num, size) {
            let s = "000000000" + num;
            return s.substr(s.length - size);
        }

        function stopwatchControlButtonClick() {
            if (stopwatchId == null) {
                $('#timerControlButton').attr('src', "{% static 'pause.png' %}");
                stopwatchId = setInterval(function () {
                    stopwatchSeconds++;
                    let seconds = stopwatchSeconds % 60;
                    let minutes = ((stopwatchSeconds - seconds) / 60) % 60;
                    let hours = (((stopwatchSeconds - seconds) / 60) - minutes) / 60;
                    $('#exerciseDurationDisplay').html(pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2));
                    $('#exerciseDuration').attr('value', stopwatchSeconds.toString());

                    // broadcast to other tabs
                    message_broadcast({
                        action: 'stopwatch', value: {
                            seconds: seconds,
                            minutes: minutes,
                            hours: hours
                        }
                    });
                }, 1000);
            } else {
                $('#timerControlButton').attr('src', "{% static 'play.png' %}");
                clearInterval(stopwatchId);
                stopwatchId = null;
            }
        }

        function addNewExercise() {
            let weight = parseInt($('#newLiftWeight').val());
            let reps = parseInt($('#newLiftReps').val());
            let rm = Math.trunc((weight + weight * reps * 0.025) * 100) / 100;
            $('#newRmMax').html(rm);
            if (weight != null && reps != null && parseFloat(weight) > 0 && parseFloat(reps) > 0) {
                // add to array
                newExercise = {
                    id: newExercises.length + 1,
                    exercise: selectedExercise,
                    liftMass: Math.floor(parseFloat(weight)),
                    reps: Math.floor(parseFloat(reps)),
                    enabled: true,
                    rmMax: rm // todo double check
                };
                newExercises.push(newExercise);

                // send as a broadcast to all tabs i.e. save locally
                message_broadcast({action: 'exercises', value: newExercises});
            }
        }

        function addNewExerciseWithRawValues(liftMass, reps, exerciseName, rmMax) {
            rmMax = Math.trunc((liftMass + liftMass * reps * 0.025) * 100) / 100;
            // add to array
            newExercise = {
                id: newExercises.length + 1,
                exercise: findExerciseByName(exerciseName),
                liftMass: liftMass,
                reps: reps,
                enabled: true,
                rmMax: rmMax // todo double check
            };
            newExercises.push(newExercise);

            // send as a broadcast to all tabs i.e. save locally
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function toggleExercise(idx) {
            newExercises[idx].enabled = !newExercises[idx].enabled;
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function copyExercise(idx) {
            $('#selectedExerciseName').html(newExercises[idx].exercise.name);
            $('#selectedBodyPart').html(newExercises[idx].exercise.bodyPart);
            selectedExercise = newExercises[idx].exercise;

            $('#newLiftWeight').val(newExercises[idx].liftMass);
            $('#newLiftReps').val(newExercises[idx].reps);
            $('#newRmMax').html(newExercises[idx].rmMax);
        }

        function shiftLiftUp(idx) {
            // swap lifts
            let temp = newExercises[idx];
            newExercises[idx] = newExercises[idx - 1];
            newExercises[idx - 1] = temp;

            // update UI
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function shiftLiftDown(idx) {
            // swap lifts
            let temp = newExercises[idx];
            newExercises[idx] = newExercises[idx + 1];
            newExercises[idx + 1] = temp;

            // update UI
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function repeatWorkoutSession(workoutSessionId) {
            for (let i = 0; i < allWorkouts.length; i++)
                if (allWorkouts[i].workout_session_id === workoutSessionId) {
                    $("#workoutTitle").val(allWorkouts[i].title);
                    for (let j = 0; j < allWorkouts[i].lifts.length; j++)
                        addNewExerciseWithRawValues(allWorkouts[i].lifts[j].liftMass, allWorkouts[i].lifts[j].reps, allWorkouts[i].lifts[j].exerciseName);
                    break;
                }
        }

        function clearExercises() {
            {#for (let i = 0; i < newExercises.length; i++)#}
            {#    if (newExercises[i].enabled) {#}
            {#        newExercises.splice(i, 1);#}
            {#        i--;#}
            {#    }#}
            message_broadcast({action: 'exercises', value: []});
        }

        function saveExercises() {
            // filter out disabled exercises
            let resExercises = [];
            for (let i = 0; i < newExercises.length; i++)
                if (newExercises[i].enabled)
                    resExercises.push({
                        exerciseName: newExercises[i].exercise.name,
                        liftMass: newExercises[i].liftMass,
                        repetitions: newExercises[i].reps,
                    });

            if (resExercises.length > 0) {
                let title = $("#workoutTitle").val();

                $.post('{% url 'add workout' %}', {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    title: title === '' ? '[이름없는 운동]' : title,
                    duration: stopwatchSeconds,
                    exercises: JSON.stringify(resExercises)
                }, function (response) {
                    try {
                        if (response.success) {
                            message_broadcast({action: 'exercises', value: []});
                            location.reload();
                        }
                    } catch (e) {
                        console.log(e);
                    }
                });
            } else {
                alert('You need to add at least one exercise for one workout session!');
            }
        }
    </script>
{% endblock %}
