{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="sub_content">
        <!-- head -->
        <div id="liftCreatorHead">
            <div class="w3-text-grey w3-left" style="display: inline-block;">
                <p style="font-size: small; margin: 0;">
                    <span id="stopwatch">{% now "SHORT_DATE_FORMAT" %}</span>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <span>{% now "D" %}</span>
                </p>
                <input id="workoutTitle" type="text" placeholder="예 : 내 운동" value="">
                <img onclick="document.getElementById('workoutTitle').focus();" src="{% static 'edit.png' %}" width="14px" style="cursor: pointer;">
            </div>
            <span id="exerciseDurationDisplay" style="font-size: xx-large; color: #0006b1;">{% now "G:i:s" %}</span>
            <input id="exerciseDuration" type="number" name="exerciseDuration" value="0" hidden>
            <div style="display: inline-block;" class="w3-right">
                <a onclick="timerControlButtonClick();" class="w3-button w3-buttoncolor" style="padding: 8px 30px 8px 30px; border-radius: 10px;"><img id="timerControlButton" src="{% static 'play.png' %}" height="16px"></a>
            </div>
        </div>
        <!-- body -->
        <div id="liftCreatorBody">
            <button class="dummy_button" style="margin-bottom: 3px;" disabled>Fetch a prescribed exercise</button>
            <table id="newExercisesTable">
                <tr>
                    <th class="set_column">세트</th>
                    <th class="exercise_column">운동</th>
                    <th class="weight_column">KG</th>
                    <th class="repetition_column">반복</th>
                    <th class="done_column"></th>
                </tr>
                <tr>
                    <td class="set_column light-grey-text"></td>
                    <td class="exercise_column" onclick="showExerciseSelectorDivClick();"><a id="selectedExerciseName">{{ exercises.0.name }} ({{ exercises.0.body_part.name }})</a></td>
                    <td class="weight_column"><input id="newLiftWeight" type="number" min="1" max="200" placeholder="1" value="1"></td>
                    <td class="repetition_column"><input id="newLiftReps" id="selectedReps" type="number" min="1" max="30" placeholder="1" value="1"></td>
                    <td class="done_column">
                        <a onclick="addNewExercise();" class="w3-button w3-buttoncolor" style="padding: 5px; margin: 0; line-height: 1; border-radius: 15px;"><img id="timerControlButton" src="{% static 'add.png' %}" height="20px"></a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- tail -->
        <div style="height: 30px; margin-top: 50px;">
            <div style="display: inline-block;" class="w3-right">
                <a id="saveExerciseButton" onclick="saveExercises()" class="w3-button w3-buttoncolor" style="padding: 8px 40px 8px 40px; border-radius: 8px; display: block;">저장</a>
            </div>

            <div style="display: inline-block;" class="w3-left">
                <a id="saveExerciseButton" onclick="clearExercises()" class="w3-button w3-buttoncolor" style="padding: 8px 40px 8px 40px; border-radius: 8px; display: block;">삭제</a>
            </div>
        </div>
    </div>

    {% for day_str, workouts in workouts_by_days.items %}
        <h4 style="color: #3f51b5"><b>{{ day_str }}</b></h4>
        {% for workout, exercises in workouts.items %}
            <div class="sub_content" style="min-height: 190px;">
                <div style="height: 12px;">
                    <span style="color: #3f51b5; font-weight: bold;" class="w3-left">{{ workout.title }}</span>
                    <span class="w3-right">...</span>
                </div>
                <hr style="border: 1px solid lightgrey;">
                <div style="display: inline-block; padding: 8px;">
                    {% for exercise, lifts in exercises.items %}
                        <span>{{ lifts.count }} x {{ exercise.name }} ({{ exercise.category }}, {{ exercise.body_part }})</span> <br>
                    {% endfor %}
                </div>
                <div style="display: inline-block; padding: 8px; text-align: center;" class="w3-right">
                    <span style="font-weight: bold; font-size: large;" class="light-blue-text">{{ workout.get_duration_str }}</span> <br>
                    <a onclick="repeatWorkoutSession({{ workout.id }});" class="w3-button w3-buttoncolor" style="padding: 5px 30px 5px 30px; border-radius: 4px; display: block; margin-top: 10px;">반복하기</a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <style>
        #liftCreatorHead {
            text-align: center;
        }

        #liftCreatorBody {
            margin-top: 50px;
        }

        #workoutTitle, #newLiftWeight, #newLiftReps {
            font-size: 14px;
            background: #0000;
            outline: none;
            box-sizing: border-box;
            border: none;
        }

        #workoutTitle {
            color: #C5BDEC;
            font-weight: bold;
        }

        #workoutTitle::placeholder {
            color: #C5BDEC;
        }

        /* region tables */
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
        }

        .set_column {
            width: 10%;
        }

        .exercise_column {
            width: 40%;
        }

        .weight_column {
            width: 25%
        }

        .repetition_column {
            width: 15%
        }

        .done_column {
            width: 15%
        }

        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        }

        th {
            background: lightgrey;
            color: white;
            font-size: small;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px;
            font-size: small;
        }

        .light-grey-text {
            color: lightgrey;
        }

        .dark-blue-text {
            color: #0006b1;;
        }

        .light-blue-text {
            color: #C5BDEC;
        }

        tr:nth-child(even) td {
            background: white;
        }

        tr:nth-child(odd) td {
            background: #DFDFDF;
        }

        /* endregion */


    </style>

    <script>
        let selectExerciseDiv, exercisesListDiv, filterExerciseBodyPart, filterExerciseCategory, filterText, selectedExerciseName;
        let allExercises = [{% for exercise in exercises %}{name: '{{ exercise.name }}',icon: '{{ exercise.icon }}',bodyPart: '{{ exercise.body_part.name }}',category: '{{ exercise.category.name }}'},{% endfor %}];
        let selectedExercise = {name: '{{ exercises.0.name }}', icon: '{{ exercises.0.icon }}', bodyPart: '{{ exercises.0.body_part.name }}', category: '{{ exercises.0.category.name }}'};
        let stopwatchId, stopwatchSeconds = 0;

        function findExerciseByName(name) {
            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name === name)
                    return allExercises[i];
            return null;
        }

        let newExercises = [];
        let newSetNumber = 1, newExercise = "{{ exercises.0.name }}", newWeight = 1, newReps = 1;
        let allWorkouts = [{% for _, workout_sessions in workouts_by_days.items %}{% for workout_session, exercises in workout_sessions.items %}{
            workout_session_id: {{ workout_session.id }},
            title: "{{ workout_session.title }}",
            lifts: [{% for exercise, lifts in exercises.items %}{% for lift in lifts.lifts %}{
                exerciseName: "{{ exercise.name }}",
                liftMass: {{ lift.lift_mass }},
                reps: {{ lift.repetitions }},
            }, {% endfor %}{% endfor %}]
        }, {% endfor %}{% endfor %}];

        $(document).ready(function () {
            $(".default_option").click(function () {
                $(".dropdown ul").addClass("active");
            });

            $(".dropdown ul li").click(function () {
                var text = $(this).text();
                $(".default_option").text(text);
                $(".dropdown ul").removeClass("active");
            });

            $('#exerciseDurationDisplay').html("00:00:00");

            selectExerciseDiv = document.getElementById('selectExerciseDiv');
            exercisesListDiv = document.getElementById('exercisesListDiv');
            selectedExerciseName = document.getElementById('selectedExerciseName');

            document.getElementById('filterExerciseBodyPart').addEventListener('change', (event) => {
                filterExerciseBodyPart = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });
            document.getElementById('filterExerciseCategory').addEventListener('change', (event) => {
                filterExerciseCategory = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });

            window.addEventListener("storage", function (_) {
                newExercises = JSON.parse(localStorage.getItem('message'));

                // refresh UI
                $("#newExercisesTable tr:not(:last-child, :first-child)").empty();
                for (let i = 0; i < newExercises.length; i++)
                    $('#newExercisesTable tr:last').before('<tr id="exerciseRow' + newExercises[i].id + '"> <td class="set_column dark-blue-text">' + newExercises[i].id + '</td><td class="exercise_column dark-blue-text">' + newExercises[i].exercise.name + '(' + newExercises[i].exercise.bodyPart + ')</td><td class="weight_column dark-blue-text">' + newExercises[i].liftMass + '</td><td class="repetition_column dark-blue-text">' + newExercises[i].reps + '</td><td class="done_column"> <a onclick="toggleExercise(' + newExercises[i].id + ');" class="w3-button w3-buttoncolor" style="padding: 5px; margin: 0; line-height: 1; border-radius: 2px;"><img src="' + (newExercises[i].enabled ? '{% static 'checked.png' %}' : '{% static 'unchecked.png' %}') + '" height="20px"></a> </td></tr>');
            });

            let prevExercises = localStorage.getItem('message');
            if (prevExercises != null)
                message_broadcast(JSON.parse(prevExercises));
        });

        function showExerciseSelectorDivClick() {
            if (document.readyState === "complete") {
                $('body').css('background', '#e2e1e0');
                selectExerciseDiv.style.display = 'block';
            }
        }

        function hideExerciseSelectorDivClick() {
            $('body').css('background', '#fff');
            selectExerciseDiv.style.display = 'none';
        }

        function onFilterTextChanged(input) {
            filterText = input.value.length > 0 ? input.value : null;
            filterExercises();
        }

        function filterExercises() {
            let displayedExercises = allExercises.slice();

            if (filterText != null) {
                let filterTextLower = filterText.toLowerCase();
                for (let i = 0; i < displayedExercises.length; i++)
                    if (!displayedExercises[i].name.toLowerCase().includes(filterTextLower)) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                let newArray = [];
                for (let i = 0; i < displayedExercises.length; i++) {
                    if (displayedExercises[i].name.toLowerCase().startsWith(filterTextLower)) {
                        newArray.push(displayedExercises[i]);
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                }
                displayedExercises = newArray.concat(displayedExercises);
            }

            if (filterExerciseBodyPart != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].bodyPart !== filterExerciseBodyPart) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
            if (filterExerciseCategory != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].category !== filterExerciseCategory) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }

            exercisesListDiv.innerHTML = '';
            for (let i = 0; i < displayedExercises.length; i++) {
                let newElementHtml = '<a onclick="selectExerciseClick(\'' + displayedExercises[i].name + '\')" style="display: block; border-top: 1px solid lightgrey; padding: 3px; cursor: pointer;"> <i class="slicon slicon-2x ' + displayedExercises[i].icon + '"></i>' + displayedExercises[i].name + ' (' + displayedExercises[i].bodyPart + ')</a>';
                let newElement = document.createElement('div');
                newElement.className = 'card';
                newElement.innerHTML = newElementHtml;
                exercisesListDiv.appendChild(newElement);
            }
        }

        function selectExerciseClick(name) {
            let newExercise = null;
            let nameLower = name.toLowerCase();

            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name.toLowerCase() === nameLower) {
                    newExercise = allExercises[i];
                    break;
                }

            if (newExercise != null) {
                selectedExerciseName.innerHTML = newExercise.name + '(' + newExercise.bodyPart.name + ')';
                selectedExercise = newExercise;
                hideExerciseSelectorDivClick();
            }
        }

        function pad(num, size) {
            let s = "000000000" + num;
            return s.substr(s.length - size);
        }

        function timerControlButtonClick() {
            if (stopwatchId == null) {
                $('#timerControlButton').attr('src', "{% static 'pause.png' %}");
                stopwatchId = setInterval(function () {
                    stopwatchSeconds++;
                    let seconds = stopwatchSeconds % 60;
                    let minutes = ((stopwatchSeconds - seconds) / 60) % 60;
                    let hours = (((stopwatchSeconds - seconds) / 60) - minutes) / 60;
                    $('#exerciseDurationDisplay').html(pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2));
                    $('#exerciseDuration').attr('value', stopwatchSeconds.toString());
                }, 1000);
            } else {
                $('#timerControlButton').attr('src', "{% static 'play.png' %}");
                clearInterval(stopwatchId);
                stopwatchId = null;
            }
        }

        function addNewExercise() {
            let weight = $('#newLiftWeight').val();
            let reps = $('#newLiftReps').val();

            if (weight != null && reps != null && parseFloat(weight) > 0 && parseFloat(reps) > 0) {
                // add to array
                newExercise = {id: newExercises.length + 1, exercise: selectedExercise, liftMass: Math.floor(parseFloat(weight)), reps: Math.floor(parseFloat(reps)), enabled: true};
                newExercises.push(newExercise);

                // send as a broadcast to all tabs i.e. save locally
                message_broadcast(newExercises);
            }
        }

        function addNewExerciseWithRawValues(liftMass, reps, exerciseName) {
            // add to array
            newExercise = {id: newExercises.length + 1, exercise: findExerciseByName(exerciseName), liftMass: liftMass, reps: reps, enabled: true};
            newExercises.push(newExercise);

            // send as a broadcast to all tabs i.e. save locally
            message_broadcast(newExercises);
        }

        function toggleExercise(id) {
            console.log(newExercises);

            let eId;
            for (let i = 0; i < newExercises.length; i++)
                if (newExercises[i].id === id)
                    eId = newExercises[i].id;

            if (eId != null) {
                // change variable
                newExercises[eId - 1].enabled = !newExercises[eId - 1].enabled;

                // change UI
                let tr = $('#exerciseRow' + eId);
                if (newExercises[eId - 1].enabled) {
                    // action = enable
                    let children = tr.children('.light-grey-text');
                    children.removeClass('light-grey-text');
                    children.addClass('dark-blue-text');

                    let a = tr.children('.done_column').find('a');
                    a.removeClass('w3-disabledbuttoncolor');
                    a.addClass('w3-buttoncolor');
                    let img = tr.children('.done_column').find('img');
                    img.attr('src', "{% static 'checked.png' %}");
                } else {
                    // action = disable
                    let children = tr.children('.light-blue-text');
                    children.removeClass('dark-blue-text');
                    children.addClass('light-grey-text');

                    let a = tr.children('.done_column').find('a');
                    a.removeClass('w3-buttoncolor');
                    a.addClass('w3-disabledbuttoncolor');
                    let img = tr.children('.done_column').find('img');
                    img.attr('src', "{% static 'unchecked.png' %}");
                }
            }
        }

        function repeatWorkoutSession(workoutSessionId) {
            for (let i = 0; i < allWorkouts.length; i++)
                if (allWorkouts[i].workout_session_id === workoutSessionId) {
                    $("#workoutTitle").val(allWorkouts[i].title);
                    for (let j = 0; j < allWorkouts[i].lifts.length; j++)
                        addNewExerciseWithRawValues(allWorkouts[i].lifts[j].liftMass, allWorkouts[i].lifts[j].reps, allWorkouts[i].lifts[j].exerciseName);
                    break;
                }
        }

        function clearExercises() {
            message_broadcast([]);
        }

        function saveExercises() {
            // filter out disabled exercises
            let resExercises = [];
            for (let i = 0; i < newExercises.length; i++)
                if (newExercises[i].enabled)
                    resExercises.push({
                        exerciseName: newExercises[i].exercise.name,
                        liftMass: newExercises[i].liftMass,
                        repetitions: newExercises[i].reps
                    });

            if (resExercises.length > 0) {
                let title = $("#workoutTitle").val();

                $.post('{% url 'add workout' %}', {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    title: title === '' ? '[이름없는 운동]' : title,
                    duration: stopwatchSeconds,
                    exercises: JSON.stringify(resExercises)
                }, function (response) {
                    try {
                        if (response.success)
                            location.reload();
                    } catch (e) {
                        console.log(e);
                    }
                });
            } else {
                alert('You need to add at least one exercise for one workout session!');
            }
        }
    </script>
{% endblock %}
