{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div id="rootDiv">
        <div id="width_workout_table">
            <header class="w3-container w3-xlarge">
                <h1 class="w3-left">{{ title }}</h1>
                <h2 class="w3-left"><span style="font-weight: bold;">안녕하세요, </span><span style="color: #0006b1; font-weight: bold;">{{ name }}</span></h2>
            </header>
            <div class="sub_content" xmlns="http://www.w3.org/1999/html">
                <!-- head -->
                <div id="liftCreatorHead">
                    <div class="w3-text-grey w3-left" style="display: inline-block;">
                        <p style="font-size: small; margin: 0;">
                            <span id="stopwatch">{% now "SHORT_DATE_FORMAT" %}</span>
                            <span>{% now "D" %}</span>
                        </p>
                        <input id="workoutTitle" type="text" placeholder="예 : 내 운동" value="">
                        <img onclick="document.getElementById('workoutTitle').focus();" src="{% static 'edit.png' %}"
                             width="14px" style="cursor: pointer;">
                    </div>
                    <span id="exerciseDurationDisplay" style="font-size: xx-large; color: #0006b1;">{% now "G:i:s" %}</span>
                    <input id="exerciseDuration" type="number" name="exerciseDuration" value="0" hidden>
                    <div style="display: inline-block;" class="w3-right">
                        <a onclick="stopwatchResetClick();" class="w3-button w3-buttoncolor stopwatchControlButton" style="display: none" id="timerResetButton"><img src="{% static 'stop.png' %}" height="16px"></a>
                        <a onclick="stopwatchControlButtonClick();" class="w3-button w3-buttoncolor stopwatchControlButton"><img id="timerControlButton" src="{% static 'play.png' %}" height="16px"></a>
                    </div>
                </div>
                <!-- body -->
                <div id="liftCreatorBody">
                    <button class="dummy_button" style="margin-bottom: 3px;" disabled>Fetch a prescribed exercise</button>
                    <table id="newExercisesTable">
                        <tr>
                            <th class="arrow_column"></th>
                            <th class="set_column">세트</th>
                            <th class="exercise_column">운동</th>
                            <th class="weight_column" id="weight_th" style="cursor: pointer;">KG</th>
                            <th class="repetition_column">반복</th>
                            <th class="rm_column">RM</th>
                            <th class="done_column"></th>
                        </tr>
                        <tr style="color: #777">
                            <td class="arrow_column"></td>
                            <td class="set_column light-grey-text"></td>
                            <td class="exercise_column" id="selectedExerciseName"
                                onclick="showExerciseSelectorDivClick();">{{ exercises.0.name }} ({{ exercises.0.body_part.name }})
                            </td>
                            <td class="weight_column"><input id="newLiftWeight" class="newLiftWeight" type="number" min="1"
                                                             max="200" placeholder="1"
                                                             value="1"></td>
                            <td class="repetition_column"><input id="newLiftReps" class="newLiftReps" type="number" min="1"
                                                                 max="30" placeholder="1"
                                                                 value="1"></td>
                            <td class="rm_column" id="newRmMax"></td>
                            <td class="done_column">
                                <button onclick="addNewExercise();"
                                        style="padding: 5px 5px 5px 5px; margin: 0 0 0 0; line-height: 1; border-radius: 15px; background: transparent; border: none; cursor: pointer;">
                                    <img id="timerControlButton" src="{% static 'add.svg' %}" height="20px"></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- tail -->
                <div style="height: 30px; margin-top: 50px;">
                    <div style="display: inline-block;" class="w3-right">
                        <a id="saveExerciseButton" onclick="saveExercises()" class="w3-button w3-buttoncolor"
                           style="padding: 8px 40px 8px 40px; border-radius: 8px; display: block;">저장</a>
                    </div>
                    <div style="display: inline-block;" class="w3-left">
                        <a id="saveExerciseButton" onclick="clearExercises()" class="w3-button w3-buttoncolor"
                           style="padding: 8px 40px 8px 40px; border-radius: 8px; display: block;">삭제</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="width_workout_card">
            <div id="today_workouts"></div>
        </div>
    </div>

    <style>
        #liftCreatorHead {
            text-align: center;
        }

        #liftCreatorBody {
            margin-top: 50px;
        }

        #workoutTitle, .newLiftWeight, .newLiftReps, #newRmMax {
            font-size: 14px;
            color: #777;
            background: #0000;
            outline: none;
            box-sizing: border-box;
            border: none;
        }

        #workoutTitle {
            color: #C5BDEC;
            font-weight: bold;
            width: 40%;
            float: left;
        }

        #stopwatch {
            float: left;
            width: 40%;
            min-width: 128px;
            text-align: left;
        }

        .stopwatchControlButton {
            border-radius: 16px;
        }

        .stopwatchControlButton:hover {
            border-radius: 16px;
        }

        #workoutTitle::placeholder {
            color: #C5BDEC;
        }

        /* region tables */
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
        }

        .arrow_column {
            width: 5%;
        }

        .set_column {
            width: 8%;
        }

        .exercise_column {
            width: 40%;
        }

        .weight_column {
            width: 10%
        }

        .rm_column {
            width: 10%
        }

        .repetition_column {
            width: 15%
        }

        .done_column {
            width: 12%
        }


        td, th {
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
        }

        th {
            background: lightgrey;
            color: white;
            font-size: small;
        }

        td {
            background: white;
            text-align: center;
            cursor: pointer;
            padding: 5px;
            font-size: small;
        }

        .light-grey-text {
            color: lightgrey;
        }

        .dark-blue-text {
            color: #0006b1;;
        }

        .light-blue-text {
            color: #C5BDEC;
        }

        tr {
            border-bottom: 1.5px solid #eee;
        }

        /* endregion */

        @media (min-width: 801px) {
            #rootDiv {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
            }

            #width_workout_table {
                width: calc(60% - 10px);
                margin: 0px;
                padding: 0px;
                display: inline-block;
            }

            #width_workout_card {
                width: calc(40% - 10px);
                margin: 0px;
                padding: 0px;
                display: inline-block;
            }
        }

    </style>

    <script>
        const weekdayNames = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
        const KG2LBS = 2.20462262185;
        const ONE_REP_MAX_CONST = 0.025;

        let selectExerciseDiv, exercisesListDiv, filterExerciseBodyPart, filterExerciseCategory, filterText;
        let allExercises = [{% for exercise in exercises %}{id: {{ exercise.id }},
                name: '{{ exercise.name }}',
                nameTranslations: {{ exercise.name_translations|safe }},
                iconUrl: '{{ exercise.icon.url }}',
                bodyPart: '{{ exercise.body_part.name }}',
                category: '{{ exercise.category.name }}'},{% endfor %}];
        let selectedExercise = {
            name: '{{ exercises.0.name }}',
            nameTranslations: {{ exercises.0.name_translations|safe }},
            iconUrl: '{{ exercises.0.icon.url }}',
            bodyPart: '{{ exercises.0.body_part.name }}',
            category: '{{ exercises.0.category.name }}'
        };
        let stopwatchId, stopwatchSeconds = 0;

        function findExerciseByName(name) {
            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name === name)
                    return allExercises[i];
            return null;
        }

        let newExercises = [];
        let newSetNumber = 1, newExercise = "{{ exercises.0.name }}", newWeight = 1, newReps = 1;

        $(document).ready(function () {
            $(".default_option").click(function () {
                $(".dropdown ul").addClass("active");
            });

            $(".dropdown ul li").click(function () {
                $(".default_option").text($(this).text());
                $(".dropdown ul").removeClass("active");
            });

            $('#weight_th').click(function () {
                // switch KG / LBS
                let el = $('#weight_th');
                el.html(el.html().toLowerCase() === 'kg' ? 'LBS' : 'KG');

                // region inserted exercise rows
                setNewExercisesOnUI(newExercises);
                // endregion
                // region new exercise row
                let newLiftWeight = $('#newLiftWeight');
                let newRmMax = $('#newRmMax');
                newLiftWeight.prop('disabled', true);
                newRmMax.prop('disabled', true);
                if (el.html().toLowerCase() === 'kg') {
                    let rmMax = Math.trunc((newWeight + newWeight * newReps * ONE_REP_MAX_CONST) * 100) / 100;
                    $('#newLiftWeight').val(newWeight);
                    $('#newRmMax').html(rmMax);
                } else {
                    let massLbs = Math.trunc(newWeight * 2.2 * 10) / 10;
                    let rmMaxLbs = Math.trunc((newWeight * KG2LBS + newWeight * KG2LBS * newReps * ONE_REP_MAX_CONST) * 100) / 100;
                    $('#newLiftWeight').val(massLbs);
                    $('#newRmMax').html(rmMaxLbs);
                }
                newLiftWeight.prop('disabled', false);
                newRmMax.prop('disabled', false);
                // endregion
                // region workouts
                let today = new Date();
                today.setHours(1);
                today.setMinutes(0);
                today.setSeconds(0);
                today.setMilliseconds(0);
                fetchDayWorkouts(today.getTime());
                // endregion
            });

            $('#exerciseDurationDisplay').html("00:00:00");

            selectExerciseDiv = document.getElementById('selectExerciseDiv');
            exercisesListDiv = document.getElementById('exercisesListDiv');

            document.getElementById('filterExerciseBodyPart').addEventListener('change', (event) => {
                filterExerciseBodyPart = event.target.value === 'all' ? null : event.target.value;
                filterExercises();
            });
            document.getElementById('filterExerciseCategory').addEventListener('change', (event) => {
                filterExerciseCategory = event.target.value === 'none' ? null : event.target.value;
                filterExercises();
            });

            let weight = parseInt($('#newLiftWeight').val());
            let reps = parseInt($('#newLiftReps').val());
            let rm = Math.trunc((weight + weight * reps * ONE_REP_MAX_CONST) * 100) / 100;
            $('#newRmMax').html(rm);

            $('#newLiftWeight').change(function () {
                let kgMode = $('#weight_th').html().toLowerCase() === 'kg';
                newWeight = kgMode ? parseFloat($('#newLiftWeight').val()) : parseFloat($('#newLiftWeight').val()) * KG2LBS;
                if (kgMode)
                    $('#newRmMax').html(Math.trunc((newWeight + newWeight * newReps * ONE_REP_MAX_CONST) * 100) / 100);
                else
                    $('#newRmMax').html(Math.trunc((newWeight * KG2LBS + newWeight * KG2LBS * newReps * ONE_REP_MAX_CONST) * 100) / 100);
            });
            $('#newLiftReps').change(function () {
                let kgMode = $('#weight_th').html().toLowerCase() === 'kg';
                newReps = parseInt($('#newLiftReps').val());
                if (kgMode)
                    $('#newRmMax').html(Math.trunc((newWeight + newWeight * newReps * ONE_REP_MAX_CONST) * 100) / 100);
                else
                    $('#newRmMax').html(Math.trunc((newWeight * KG2LBS + newWeight * KG2LBS * newReps * ONE_REP_MAX_CONST) * 100) / 100);
            });

            // tabs communication
            window.addEventListener("storage", function (_) {
                let event = JSON.parse(localStorage.getItem('message'));
                if (event.action === 'exercises') {
                    newExercises = event.value;
                    setNewExercisesOnUI(newExercises);
                } else if (event.action === 'stopwatchData') {
                    let stopwatchData = event.value;
                    $('#exerciseDurationDisplay').html(pad(stopwatchData.hours, 2) + ':' + pad(stopwatchData.minutes, 2) + ':' + pad(stopwatchData.seconds, 2));
                    $('#exerciseDuration').attr('value', stopwatchSeconds.toString());
                }
            });

            // recovers exercises from local storage (backupped when closing tab)
            let prevExercises = localStorage.getItem('exercises_backup');
            if (prevExercises != null) {
                newExercises = JSON.parse(prevExercises);
                setNewExercisesOnUI(newExercises);
            }

            let params = window.location.search.substr(1).split("&");
            let exercise;
            for (let i = 0; i < params.length; i++) {
                let kv = params[i].split('=');
                if (kv[0] === 'exerciseId')
                    for (let j = 0; j < allExercises.length; j++)
                        if (allExercises[j].id.toString() === kv[1]) {
                            exercise = allExercises[j];
                            break;
                        }
            }
            if (exercise != null) {
                $('#newLiftReps').val(1);
                selectExerciseClick(exercise.name);
            }

            let today = new Date();
            today.setHours(1);
            today.setMinutes(0);
            today.setSeconds(0);
            today.setMilliseconds(0);
            fetchDayWorkouts(today.getTime());
        });

        function setNewExercisesOnUI(exercises) {
            $("#newExercisesTable tr:not(:last-child, :first-child)").empty();

            for (let i = 0; i < exercises.length; i++) {
                let rmMaxLbs = Math.trunc((exercises[i].liftMass * KG2LBS + exercises[i].liftMass * KG2LBS * exercises[i].reps * ONE_REP_MAX_CONST) * 100) / 100;
                if (exercises[i].enabled) {
                    $('#newExercisesTable tr:last').before(
                        `<tr id="exerciseRow${i}">` +
                        `   <td class="arrow_column">${i === 0 ? '' : `<a onclick="shiftLiftUp(${i});">△</a>`}${i === 0 || i === exercises.length - 1 ? '' : '<br>'}${i === exercises.length - 1 ? '' : `<a onclick="shiftLiftDown(${i});">▽</a>`}</td>` +
                        `   <td onclick="copyExercise(${i});" class="set_column dark-blue-text">${i + 1}</td>` +
                        `   <td onclick="copyExercise(${i});" class="exercise_column dark-blue-text">${exercises[i].exercise.name} (${exercises[i].exercise.bodyPart})</td>` +
                        `   <td class="weight_column">` +
                        `       <input id="liftWeight${i}" class="newLiftWeight dark-blue-text" style="text-alight: center;" type="number" min="1" max="200" placeholder="1" value="${$('#weight_th').html().toLowerCase() === 'kg' ? exercises[i].liftMass : Math.trunc(exercises[i].liftMass * KG2LBS * 10) / 10}">` +
                        `   </td>` +
                        `   <td class="repetition_column dark-blue-text">` +
                        `       <input id="liftReps${i}" class="newLiftReps dark-blue-text" style="text-alight: center;" type="number" min="1" max="30" placeholder="1" value="${exercises[i].reps}">` +
                        `   </td>` +
                        `   <td id="rmMax${i}" class="rm_column dark-blue-text">${$('#weight_th').html().toLowerCase() === 'kg' ? exercises[i].rmMax : rmMaxLbs}</td>` +
                        `   <td class="done_column">` +
                        `       <a onclick="toggleExercise(${i});" class="w3-button w3-buttoncolor" style="padding: 5px; margin: 0; line-height: 1; border-radius: 2px;">` +
                        `           <img src="{% static 'checked.png' %}" height="20px">` +
                        `       </a>` +
                        `   </td>` +
                        `</tr>`
                    );
                    $(`#liftWeight${i}, #liftReps${i}`).change(function () {
                        let weight = parseInt($(`#liftWeight${i}`).val());
                        let reps = parseInt($(`#liftReps${i}`).val());

                        exercises[i].liftMass = weight;
                        exercises[i].reps = reps;
                        exercises[i].rmMax = Math.trunc((weight + weight * reps * ONE_REP_MAX_CONST) * 100) / 100;

                        message_broadcast({action: 'exercises', value: exercises});
                    });
                } else
                    $('#newExercisesTable tr:last').before(
                        `<tr id="exerciseRow${i}">` +
                        `   <td class="arrow_column">${i === 0 ? '' : `<a onclick="shiftLiftUp(${i});">△</a>`}${i === 0 || i === exercises.length - 1 ? '' : '<br>'}${i === exercises.length - 1 ? '' : `<a onclick="shiftLiftDown(${i});">▽</a>`}</td>` +
                        `	<td onclick="copyExercise(${i});" class="set_column light-grey-text">${i}</td>` +
                        `	<td onclick="copyExercise(${i});" class="exercise_column light-grey-text">${exercises[i].exercise.name} (${exercises[i].exercise.bodyPart})</td>` +
                        `	<td class="weight_column light-grey-text">${$('#weight_th').html().toLowerCase() === 'kg' ? exercises[i].liftMass : Math.trunc(exercises[i].liftMass * KG2LBS * 10) / 10}</td>` +
                        `	<td class="repetition_column light-grey-text">${exercises[i].reps}</td>` +
                        `	<td class="rm_column light-grey-text">${$('#weight_th').html().toLowerCase() === 'kg' ? exercises[i].rmMax : rmMaxLbs}</td>` +
                        `	<td class="done_column">` +
                        `		<a onclick="toggleExercise(${i});" class="w3-button w3-buttondisabledcolor" style="padding: 5px; margin: 0; line-height: 1; border-radius: 2px;">` +
                        `			<img src="{% static 'unchecked.png' %}" height="20px">` +
                        `		</a>` +
                        `	</td>` +
                        `</tr>`
                    );
            }
        }

        function showExerciseSelectorDivClick() {
            if (document.readyState === "complete") {
                $('body').css('background', '#e2e1e0');
                selectExerciseDiv.style.display = 'block';
            }
        }

        function hideExerciseSelectorDivClick() {
            $('body').css('background', '#fff');
            selectExerciseDiv.style.display = 'none';
        }

        function onFilterTextChanged(input) {
            filterText = input.value.length > 0 ? input.value : null;
            filterExercises();
        }

        function filterExercises() {
            let displayedExercises = allExercises.slice();

            if (filterText != null) {
                let filterTextLower = filterText.toLowerCase();
                for (let i = 0; i < displayedExercises.length; i++)
                    if (!displayedExercises[i].name.toLowerCase().includes(filterTextLower)) {
                        let del = true;
                        for (let language in displayedExercises[i].nameTranslations)
                            if (displayedExercises[i].nameTranslations[language].toLowerCase().includes(filterTextLower)) {
                                del = false;
                                break;
                            }
                        if (del) {
                            displayedExercises.splice(i, 1);
                            i--;
                        }
                    }
                let newArray = [];
                for (let i = 0; i < displayedExercises.length; i++) {
                    if (displayedExercises[i].name.toLowerCase().startsWith(filterTextLower)) {
                        newArray.push(displayedExercises[i]);
                        displayedExercises.splice(i, 1);
                        i--;
                    }
                }
                displayedExercises = newArray.concat(displayedExercises);
            }

            if (filterExerciseBodyPart != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].bodyPart !== filterExerciseBodyPart) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }
            if (filterExerciseCategory != null)
                for (let i = 0; i < displayedExercises.length; i++)
                    if (displayedExercises[i].category !== filterExerciseCategory) {
                        displayedExercises.splice(i, 1);
                        i--;
                    }

            exercisesListDiv.innerHTML = '';
            for (let i = 0; i < displayedExercises.length; i++) {
                let newElementHtml;
                if (displayedExercises[i].nameTranslations.hasOwnProperty('EN'))
                    newElementHtml = `
                        <a onclick="selectExerciseClick('${displayedExercises[i].name}')" style="display: flex; border-top: 1px solid lightgrey; padding: 3px; cursor: pointer;">
                            <img src="${displayedExercises[i].iconUrl}" height="35" width="35" style="margin: 5px">
                            <div style="display: inline-block; margin-left: 6px;">
                                <span style="display: block">${displayedExercises[i].nameTranslations.EN}</span>
                                <span style="display: block; font-size: small; color: #6f94c6">${displayedExercises[i].name}(${displayedExercises[i].bodyPart})</span>
                            </div>
                        </a>`;
                else
                    newElementHtml = `
                        <a onclick="selectExerciseClick('${displayedExercises[i].name}')" style="display: flex; border-top: 1px solid lightgrey; padding: 3px; cursor: pointer;">
                            <img src="${displayedExercises[i].iconUrl}" height="35" width="35" style="margin: 5px">
                            <div style="display: inline-block; margin-left: 6px;">
                                <span style="display: block">${displayedExercises[i].name}(${displayedExercises[i].bodyPart})</span>
                            </div>
                        </a>`;
                let newElement = document.createElement('div');
                newElement.className = 'card';
                newElement.innerHTML = newElementHtml;
                exercisesListDiv.appendChild(newElement);
            }
        }

        function selectExerciseClick(name) {
            let newExercise = null;
            let nameLower = name.toLowerCase();

            for (let i = 0; i < allExercises.length; i++)
                if (allExercises[i].name.toLowerCase() === nameLower) {
                    newExercise = allExercises[i];
                    break;
                }

            if (newExercise != null) {
                $('#selectedExerciseName').html(newExercise.name);
                $('#selectedBodyPart').html(newExercise.bodyPart);
                selectedExercise = newExercise;
                hideExerciseSelectorDivClick();
            }
        }

        function pad(num, size) {
            let s = "000000000" + num;
            return s.substr(s.length - size);
        }

        function stopwatchControlButtonClick() {
            if (stopwatchId == null) {
                $('#timerControlButton').attr('src', "{% static 'pause.png' %}");
                stopwatchId = setInterval(function () {
                    stopwatchSeconds++;
                    let seconds = stopwatchSeconds % 60;
                    let minutes = ((stopwatchSeconds - seconds) / 60) % 60;
                    let hours = (((stopwatchSeconds - seconds) / 60) - minutes) / 60;
                    $('#exerciseDurationDisplay').html(pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2));
                    $('#exerciseDuration').attr('value', stopwatchSeconds.toString());

                    // broadcast to other tabs
                    message_broadcast({
                        action: 'stopwatchData', value: {
                            seconds: seconds,
                            minutes: minutes,
                            hours: hours
                        }
                    });
                }, 1000);
                $('#timerResetButton').show();
            } else {
                $('#timerControlButton').attr('src', "{% static 'play.png' %}");
                clearInterval(stopwatchId);
                stopwatchId = null;

                if (stopwatchSeconds === 0)
                    $('#timerResetButton').hide();
            }
        }

        function stopwatchResetClick() {
            clearInterval(stopwatchId);
            $('#exerciseDurationDisplay').html('00:00:00');
            $('#exerciseDuration').attr('value', 0);
            stopwatchSeconds = 0;
            $('#timerResetButton').hide();
            $('#timerControlButton').attr('src', "{% static 'play.png' %}");

            // broadcast to other tabs
            message_broadcast({
                action: 'stopwatchData', value: {
                    seconds: 0,
                    minutes: 0,
                    hours: 0
                }
            });
        }

        function addNewExercise() {
            // add to array
            newExercise = {
                id: newExercises.length + 1,
                exercise: selectedExercise,
                liftMass: newWeight,
                reps: newReps,
                enabled: true,
                rmMax: Math.trunc((newWeight + newWeight * newReps * ONE_REP_MAX_CONST) * 100) / 100
            };
            newExercises.push(newExercise);

            // send as a broadcast to all tabs i.e. save locally
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function addNewExerciseWithRawValues(liftMass, reps, exerciseName, rmMax) {
            rmMax = Math.trunc((liftMass + liftMass * reps * ONE_REP_MAX_CONST) * 100) / 100;
            // add to array
            newExercise = {
                id: newExercises.length + 1,
                exercise: findExerciseByName(exerciseName),
                liftMass: liftMass,
                reps: reps,
                enabled: true,
                rmMax: rmMax // todo double check
            };
            newExercises.push(newExercise);

            // send as a broadcast to all tabs i.e. save locally
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function toggleExercise(idx) {
            newExercises[idx].enabled = !newExercises[idx].enabled;
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function copyExercise(idx) {
            $('#selectedExerciseName').html(newExercises[idx].exercise.name);
            $('#selectedBodyPart').html(newExercises[idx].exercise.bodyPart);
            selectedExercise = newExercises[idx].exercise;

            $('#newLiftWeight').val(newExercises[idx].liftMass);
            $('#newLiftReps').val(newExercises[idx].reps);
            $('#newRmMax').html(newExercises[idx].rmMax);
        }

        function shiftLiftUp(idx) {
            // swap lifts
            let temp = newExercises[idx];
            newExercises[idx] = newExercises[idx - 1];
            newExercises[idx - 1] = temp;

            // update UI
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function shiftLiftDown(idx) {
            // swap lifts
            let temp = newExercises[idx];
            newExercises[idx] = newExercises[idx + 1];
            newExercises[idx + 1] = temp;

            // update UI
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function repeatWorkoutSession(workoutSessionId) {
            for (let i = 0; i < allWorkouts.length; i++)
                if (allWorkouts[i].workout_session_id === workoutSessionId) {
                    $("#workoutTitle").val(allWorkouts[i].title);
                    for (let j = 0; j < allWorkouts[i].lifts.length; j++)
                        addNewExerciseWithRawValues(allWorkouts[i].lifts[j].liftMass, allWorkouts[i].lifts[j].reps, allWorkouts[i].lifts[j].exerciseName);
                    break;
                }
        }

        function clearExercises() {
            for (let i = 0; i < newExercises.length; i++)
                if (newExercises[i].enabled) {
                    newExercises.splice(i, 1);
                    i--;
                }
            message_broadcast({action: 'exercises', value: newExercises});
        }

        function saveExercises() {
            // filter out disabled exercises
            let resExercises = [];
            for (let i = 0; i < newExercises.length; i++)
                if (newExercises[i].enabled)
                    resExercises.push({
                        exerciseName: newExercises[i].exercise.name,
                        liftMass: newExercises[i].liftMass,
                        repetitions: newExercises[i].reps,
                    });

            if (resExercises.length > 0) {
                let title = $("#workoutTitle").val();

                $.post('{% url 'add workout' %}', {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    title: title === '' ? '[이름없는 운동]' : title,
                    duration: stopwatchSeconds,
                    exercises: JSON.stringify(resExercises)
                }, function (response) {
                    try {
                        if (response.success) {
                            message_broadcast({action: 'exercises', value: []});
                            location.reload();
                        }
                    } catch (e) {
                        console.log(e);
                    }
                });
            } else {
                alert('You need to add at least one exercise for one workout session!');
            }
        }

        function displayWorkouts(ts, workouts) {
            let date = new Date(ts);

            let rootDiv = $('#today_workouts');
            rootDiv.empty();
            rootDiv.append(`<h4 style="color: #3f51b5"><b>${date.getFullYear()}.${date.getMonth() + 1}.${date.getDate()}. ${weekdayNames[date.getDay()]}</b></h4>`);
            let kgMode = $('#weight_th').html().toLowerCase() === 'kg';
            for (let i = 0; i < workouts.length; i++) {
                rootDiv.append(`<div class="sub_content" ></div>`);
                let subDiv = $('#today_workouts .sub_content:last');
                subDiv.append(`<div style="height: 12px;">
                    <span style="color: #3f51b5; font-weight: bold;" class="w3-left">${workouts[i].title}</span>
                    <span class="w3-right">...</span>
                </div>`);
                subDiv.append('<hr style="border: 1px solid lightgrey;">');
                subDiv.append('<div style="display: inline-block; padding: 8px;"></div>');
                let liftsDiv = $('#today_workouts .sub_content:last div:last');
                for (let j = 0; j < workouts[i].lifts.length; j++) {
                    liftsDiv.append(`<span>${j + 1}. </span>`);
                    liftsDiv.append(`<span>${workouts[i].lifts[j].exercise_name}, </span>`);
                    if (kgMode)
                        liftsDiv.append(`<span>${workouts[i].lifts[j].lift_mass} KG, </span>`);
                    else {
                        liftsDiv.append(`<span>${Math.trunc(workouts[i].lifts[j].lift_mass * KG2LBS * 10) / 10} LBS, </span>`);
                    }
                    liftsDiv.append(`<span>${workouts[i].lifts[j].repetitions} REPS, </span>`);
                    if (kgMode)
                        liftsDiv.append(`<span>${workouts[i].lifts[j].one_rep_max} RM </span>`);
                    else {
                        liftsDiv.append(`<span>${Math.trunc((workouts[i].lifts[j].lift_mass * KG2LBS + workouts[i].lifts[j].lift_mass * KG2LBS * workouts[i].lifts[j].repetitions * ONE_REP_MAX_CONST) * 100) / 100} RM </span>`);
                    }
                    liftsDiv.append('<br><br>');
                }

                let seconds = workouts[i].duration % 60
                let minutes = (Math.trunc(workouts[i].duration - seconds) / 60) % 60;
                let hours = Math.trunc(((Math.trunc((workouts[i].duration - seconds) / 60)) % 60 - minutes) / 60)
                subDiv.append(
                    `<div style="padding: 8px; text-align: center;" class="repeatButton">
                        <span style="font-weight: bold; font-size: large;" class="light-blue-text">
                            ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}
                        </span> <br>
                        <a onclick="repeatWorkoutSession(${workouts[i].id});" class="w3-button w3-buttoncolor" style="padding: 5px 30px 5px 30px; border-radius: 4px; display: block; margin-top: 10px;">반복하기</a>
                    </div>`);
            }
        }

        function fetchDayWorkouts(ts) {
            $.post('/api/fetch_workouts', `{"sessionKey": "{{ sessionKey }}", "dateTimestampMs": ${ts}}`).done((res) => res.success ? displayWorkouts(ts, res.workouts) : null);
        }
    </script>
{% endblock %}
