<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Workoutnote.com report</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'slicon.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

<body>
{# header #}
<h6 style="color: #6633CC; padding: 0; margin: 0 0 5px;">델토이드 1RM 근력검사 결과</h6>
<div style="height: 5mm; background-color: #E7DFF7"></div>

<div>
    {# top #}
    <div style="display: flex; margin-top: 12px; justify-content: space-between; align-items: center;">
        <img src="{% static 'deltoid.svg' %}" alt="deltoid" width="96mm" height="96mm">
        <div style="width: 76mm">
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: small; color: #777">검사일시</span>
                <span style="margin-left: 16px; flex-grow: 1; font-size: small" id="date">2021년 9월 21일</span>
            </div>
            <hr style="margin: 3px 0 6px;border-bottom: 0.5px solid #6633CC">
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: small; color: #777">이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;름&nbsp;&nbsp;| </span>
                <span style="margin-left: 10px; flex-grow: 1; font-size: small">{{ name }}</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: small; color: #777">성&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;별&nbsp;&nbsp;| </span>
                <span style="margin-left: 10px; flex-grow: 1; font-size: small">{{ gender }}</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: small; color: #777">연&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;령&nbsp;&nbsp;| </span>
                <span style="margin-left: 10px; flex-grow: 1; font-size: small">{{ age }}세</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: small; color: #777">신&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;장&nbsp;&nbsp;| </span>
                <span style="margin-left: 10px; flex-grow: 1; font-size: small">{{ height }}cm</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: small; color: #777">체&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;중&nbsp;&nbsp;| </span>
                <span style="margin-left: 10px; flex-grow: 1; font-size: small; text-align: start">{{ weight }}kg</span>
            </div>
        </div>
    </div>

    {# middle #}
    <h6 style="color: #6633CC; margin: 0">
        부위별 쵀대근력 분석
    </h6>
    <div style="height: 1mm; background-color: #E7DFF7"></div>
    <div style="height: 118mm; padding: 5px; display: flex; justify-content: space-between">
        {# left column #}
        <div style="width: 55%; height: 100%">
            <div style="height: 33.3%">
                <span style="font-size: medium;">상체</span> <span style="font-size: small">(del)</span>
                <table cellspacing="0" cellpadding="0" style="border: none">
                    <tr>
                        <th></th>
                        <th>표준이하</th>
                        <th>표준</th>
                        <th>표준이상</th>
                    </tr>
                    <tr>
                        <td>
                            <span style="display: block; line-height: 0.3; padding-top: 4px; font-size: xx-small; color: gray">덤벨레터라이즈</span>
                            <span style="display: block">어깨</span>
                        </td>
                        <td colspan="3">
                            <a style="width: {{ shoulderPercentage }}%" class="progress black"></a>
                            {{ shoulder }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="display: block; line-height: 0.3; padding-top: 4px; font-size: xx-small; color: gray">푸쉬웝</span>
                            <span style="display: block">가슴</span>
                        </td>
                        <td colspan="3">
                            <a style="width: {{ chestPercentage }}%" class="progress black"></a>
                            {{ chest }}
                        </td>
                    </tr>
                    <tr>
                        <td>평균</td>
                        <td colspan="3">
                            <a style="width: {{ avgTopPartPercentile }}%" class="progress blue"></a>
                            {{ avgTopPartScore }}
                        </td>
                    </tr>
                </table>
            </div>

            <div style="height: 33.3%">
                <span style="font-size: medium;">몸통</span> <span style="font-size: small">(del)</span>
                <table cellspacing="0" cellpadding="0" style="border: none">
                    <tr>
                        <th></th>
                        <th>표준이하</th>
                        <th>표준</th>
                        <th>표준이상</th>
                    </tr>
                    <tr>
                        <td>
                            <span style="display: block; line-height: 0.3; padding-top: 4px; font-size: xx-small; color: gray">덤벨레터라이즈</span>
                            <span style="display: block">등</span>
                        </td>
                        <td colspan="3">
                            <a style="width: {{ backPercentage }}%" class="progress black"></a>
                            {{ back }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="display: block; line-height: 0.3; padding-top: 4px; font-size: xx-small; color: gray">푸쉬웝</span>
                            <span style="display: block">복근</span>
                        </td>
                        <td colspan="3">
                            <a style="width: {{ absPercentage }}%" class="progress black"></a>
                            {{ abs }}
                        </td>
                    </tr>
                    <tr>
                        <td>평균</td>
                        <td colspan="3">
                            <a style="width: {{ avgMidPartPercentile }}%" class="progress blue"></a>
                            {{ avgMidPartScore }}
                        </td>
                    </tr>
                </table>
            </div>

            <div style="height: 33.3%">
                <span style="font-size: medium;">하제</span> <span style="font-size: small">(del)</span>
                <table cellspacing="0" cellpadding="0" style="border: none">
                    <tr>
                        <th></th>
                        <th>표준이하</th>
                        <th>표준</th>
                        <th>표준이상</th>
                    </tr>
                    <tr>
                        <td>
                            <span style="display: block; line-height: 0.3; padding-top: 4px; font-size: xx-small; color: gray">덤벨레터라이즈</span>
                            <span style="display: block">하체</span>
                        </td>
                        <td colspan="3">
                            <a style="width: {{ legsPercentile }}%" class="progress black"></a>
                            {{ legs }}
                        </td>
                    </tr>
                    <tr>
                        <td>평균</td>
                        <td colspan="3">
                            <a style="width: {{ legsPercentile }}%" class="progress blue"></a>
                            {{ legs }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        {# right column #}
        <div style="width: 40%; height: 100%">
            <div id="radarChartRootDiv" style="position: relative; height: 290px;">
                <span style="position: absolute; font-weight: bold;">신체 표준도</span>
                <div id="radarChartDiv" style="margin: 0 auto; width: 270px; height: 270px; border-radius: 140px; background-color: #F4F4F4">
                    <canvas id="radarChart" style="height: 270px; width: 270px; margin: 0 auto"></canvas>
                </div>
                <div style="position: absolute; bottom: 0; width: 100%">
                    <span style="display: block; font-size: small; text-align: center">회원님의 근력검사 평균 <span style="font-weight: bold; font-style: italic">{{ averageScore }}del</span></span>
                    <span style="display: block; font-size: small; text-align: center">회원님의 총 최대근력 <span style="font-weight: bold; font-style: italic">{{ cumulativeScore }}del</span></span>
                </div>
            </div>

            <span style="font-weight: bold; display: block; margin-top: 10px;">최대근력 검사란?</span>
            <span style="font-size: small; display: block;">델토이드 최대근력검사에서는 개인체형별 맞춤 리프트를 제공, 각 부위별 1 분동안 수행해낼 수 있는 최대 반복횟수로 간접추정식을 사용하여 1RM (1회 최대로 들어올릴 수 있는 최대 중량)을 측정합니다.</span>
            <span style="font-size: small; display: block;">델토이드만의 DEL 추정식을 계산하여 자신에게 맞는 운동량을 측정할 수 있습니다.</span>
        </div>
    </div>

    {# bottom #}
    <h6 style="color: #6633CC; margin: 0">
        쵀대근력 평균 그래프
    </h6>
    <div style="height: 1mm; background-color: #E7DFF7"></div>
    <div style="height: 37mm; padding: 4px; display: flex; justify-content: space-between">
        <div style="height: 100%; width: 30%; padding: 6px">
            <span style="font-size: medium;">상체</span> <span style="font-size: small">(del)</span>
            <canvas style="padding-top: 6px" id="topScoresLineGraph"></canvas>
        </div>
        <div style="height: 100%; width: 30%; padding: 6px">
            <span style="font-size: medium;">몸통</span> <span style="font-size: small">(del)</span>
            <canvas style="padding-top: 6px" id="midScoresLineGraph"></canvas>
        </div>
        <div style="height: 100%; width: 30%; padding: 6px">
            <span style="font-size: medium;">하제</span> <span style="font-size: small">(del)</span>
            <canvas style="padding-top: 6px" id="legsScoresLineGraph"></canvas>
        </div>
    </div>
    <div style="height: 37mm; padding: 4px; display: flex; justify-content: space-between">
        <div style="height: 100%; width: 30%; padding: 6px">
            <span style="font-size: medium;">총 쵀대근력</span> <span style="font-size: small">(del)</span>
            <canvas style="padding-top: 6px" id="totalScoresBarChart"></canvas>
        </div>
        <div style="height: 100%; width: 65%; padding: 6px">
            <span style="font-size: medium;">특이사항 및 메모</span>
            <textarea style="width: 100%; height: 82%; background-color: #F0F0F0; resize: none; border: none; padding: 4px; outline: none"></textarea>
        </div>
    </div>
</div>

{# footer #}
<div style="padding: 0 9px; height: 9mm; margin-top: 10px; background-color: #E7DFF7; display: flex; align-items: center; justify-content: space-between">
    <span></span>
    <img src="{% static 'deltoidText.svg' %}" alt="deltoid" height="16mm" style="margin: 0; padding: 0">
</div>
</body>

<style>
    @media print {
        @page {
            margin: 0 !important;
            padding: 0 !important;
        }

        body {
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    body {
        width: 210mm;
        padding: 4mm;
    }

    table {
        table-layout: fixed;
        width: 100%;
        height: 80%;
    }

    th {
        color: white;
        width: 25%;
    }

    th:first-child {
        background-color: #DCDCDC;
    }

    th:nth-child(2) {
        background-color: #BAAAE0;
    }

    th:nth-child(3) {
        background-color: #7D70B2;
    }

    th:last-child {
        background-color: #8089C1;
    }

    tr:not(:first-child) td:first-child {
        background-color: #E7DFF7;
        padding: 0 4px;
    }

    .progress {
        display: inline-block;
        height: 2mm;
    }

    .black {
        background-color: black;
    }

    .blue {
        background-color: #6633CC;
    }
</style>
<script>
    $(document).ready(function () {
        // essential info
        let date = new Date({{ timestamp }});
        $('#date').html(`${date.getFullYear()}년 ${date.getMonth()}월 ${date.getDate()}일`);

        // region radar chart
        new Chart(document.getElementById('radarChart'), {
            type: 'radar',
            data: {
                labels: [['어깨', '({{ shoulder }} del)'], ['가슴', '({{ chest }} del)'], ['등', '({{ back }} del)'], ['복근', '({{ abs }} del)'], ['하체', '({{ legs }} del)']],
                datasets: [{
                    data: [{{ shoulder }}, {{ chest }}, {{ back }}, {{ abs }}, {{ legs }}],
                    backgroundColor: '#A97DFF61',
                    borderColor: '#A67BFF',
                    borderWidth: 3,
                    pointerEnabled: false
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                aspectRatio: 1,
                scale: {
                    ticks: {
                        min: 0, display: false,
                        maxTicksLimit: 6
                    },
                    pointLabels: {fontColor: 'black', fontSize: 11},
                    gridLines: {
                        lineWidth: 1.3,
                        color: "#AAAAAA"
                    },
                },
                elements: {point: {radius: 0}},
                legend: {display: false},
                layout: {padding: 20}
            }
        });
        // endregion

        // region top line graph
        let scores = [{% for score in topPartScores %}{timestamp: {{ score.timestamp }}, score: {{ score.score }}}, {% endfor %}];
        let topScores = Array(4).fill(null);
        let dates = Array(4).fill("...");
        let i;
        for (i = 0; i < scores.length; i++) {
            topScores.splice(4 - i, 1, scores[i].score);
            let date = new Date(scores[i].timestamp);
            dates.splice(4 - i, 1, [date.getFullYear().toString(), `${padZero(date.getMonth(), 2)}${padZero(date.getDate(), 2)}`]);
        }
        new Chart(document.getElementById('topScoresLineGraph'), {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    data: topScores,
                    pointBackgroundColor: '#6633CC',
                    borderColor: '#777',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0,
                    radius: 5
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    xAxes: [{gridLines: {color: "white"}}],
                    yAxes: [{
                        ticks: {min: 1, maxTicksLimit: 4},
                        gridLines: {borderDash: [8, 4], color: "lightgray", drawBorder: false}
                    }]
                }
            }
        });
        // endregion

        // region mid line graph
        scores = [{% for score in midPartScores %}{timestamp: {{ score.timestamp }}, score: {{ score.score }}}, {% endfor %}];
        let midScores = Array(4).fill(null);
        dates = Array(4).fill("...");
        for (i = 0; i < scores.length; i++) {
            midScores.splice(4 - i, 1, scores[i].score);
            let date = new Date(scores[i].timestamp);
            dates.splice(4 - i, 1, [date.getFullYear().toString(), `${padZero(date.getMonth(), 2)}${padZero(date.getDate(), 2)}`]);
        }
        new Chart(document.getElementById('midScoresLineGraph'), {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    data: midScores,
                    pointBackgroundColor: '#6633CC',
                    borderColor: '#777',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0,
                    radius: 5
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    xAxes: [{gridLines: {color: "white"}}],
                    yAxes: [{
                        ticks: {min: 1, maxTicksLimit: 4},
                        gridLines: {borderDash: [8, 4], color: "lightgray", drawBorder: false}
                    }]
                }
            }
        });
        // endregion

        // region legs line graph
        scores = [{% for score in legsScores %}{timestamp: {{ score.timestamp }}, score: {{ score.score }}}, {% endfor %}];
        let legsScores = Array(4).fill(null);
        dates = Array(4).fill("...");
        for (i = 0; i < scores.length; i++) {
            legsScores.splice(4 - i, 1, scores[i].score);
            let date = new Date(scores[i].timestamp);
            dates.splice(4 - i, 1, [date.getFullYear().toString(), `${padZero(date.getMonth(), 2)}${padZero(date.getDate(), 2)}`]);
        }
        new Chart(document.getElementById('legsScoresLineGraph'), {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    data: legsScores,
                    pointBackgroundColor: '#6633CC',
                    borderColor: '#777',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0,
                    radius: 5
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    xAxes: [{gridLines: {color: "white"}}],
                    yAxes: [{
                        ticks: {min: 1, maxTicksLimit: 4},
                        gridLines: {borderDash: [8, 4], color: "lightgray", drawBorder: false}
                    }]
                }
            }
        });
        // endregion

        // region bar chart
        scores = [{% for score in totalScores %}{timestamp: {{ score.timestamp }}, score: {{ score.score }}}, {% endfor %}];
        let totalScores = Array(4).fill(0);
        dates = Array(4).fill("...");
        for (i = 0; i < scores.length; i++) {
            totalScores.splice(4 - i, 1, scores[i].score);
            let date = new Date(scores[i].timestamp);
            dates.splice(4 - i, 1, [date.getFullYear().toString(), `${padZero(date.getMonth(), 2)}${padZero(date.getDate(), 2)}`]);
        }
        Chart.helpers.drawRoundedTopRectangle = function (ctx, x, y, width, height, radius) {
            ctx.beginPath();
            ctx.moveTo(x + radius, y);
            // top right corner
            ctx.lineTo(x + width - radius, y);
            ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
            // bottom right   corner
            ctx.lineTo(x + width, y + height);
            // bottom left corner
            ctx.lineTo(x, y + height);
            // top left
            ctx.lineTo(x, y + radius);
            ctx.quadraticCurveTo(x, y, x + radius, y);
            ctx.closePath();
        };
        Chart.elements.RoundedTopRectangle = Chart.elements.Rectangle.extend({
            draw: function () {
                let ctx = this._chart.ctx;
                let vm = this._view;
                let left, right, top, bottom, signX, signY, borderSkipped;
                let borderWidth = vm.borderWidth;

                if (!vm.horizontal) {
                    // bar
                    left = vm.x - vm.width / 2;
                    right = vm.x + vm.width / 2;
                    top = vm.y;
                    bottom = vm.base;
                    signX = 1;
                    signY = bottom > top ? 1 : -1;
                    borderSkipped = vm.borderSkipped || 'bottom';
                } else {
                    // horizontal bar
                    left = vm.base;
                    right = vm.x;
                    top = vm.y - vm.height / 2;
                    bottom = vm.y + vm.height / 2;
                    signX = right > left ? 1 : -1;
                    signY = 1;
                    borderSkipped = vm.borderSkipped || 'left';
                }

                // Canvas doesn't allow us to stroke inside the width so we can
                // adjust the sizes to fit if we're setting a stroke on the line
                if (borderWidth) {
                    // borderWidth shold be less than bar width and bar height.
                    let barSize = Math.min(Math.abs(left - right), Math.abs(top - bottom));
                    borderWidth = borderWidth > barSize ? barSize : borderWidth;
                    let halfStroke = borderWidth / 2;
                    // Adjust borderWidth when bar top position is near vm.base(zero).
                    let borderLeft = left + (borderSkipped !== 'left' ? halfStroke * signX : 0);
                    let borderRight = right + (borderSkipped !== 'right' ? -halfStroke * signX : 0);
                    let borderTop = top + (borderSkipped !== 'top' ? halfStroke * signY : 0);
                    let borderBottom = bottom + (borderSkipped !== 'bottom' ? -halfStroke * signY : 0);
                    // not become a vertical line?
                    if (borderLeft !== borderRight) {
                        top = borderTop;
                        bottom = borderBottom;
                    }
                    // not become a horizontal line?
                    if (borderTop !== borderBottom) {
                        left = borderLeft;
                        right = borderRight;
                    }
                }

                // calculate the bar width and roundess
                const barWidth = Math.abs(left - right);
                const roundness = this._chart.config.options.barRoundness || 0.5;
                const radius = barWidth * roundness * 0.5;

                // keep track of the original top of the bar
                const prevTop = top;

                // move the top down so there is room to draw the rounded top
                top = prevTop + radius;
                const barRadius = top - prevTop;

                ctx.beginPath();
                ctx.fillStyle = vm.backgroundColor;
                ctx.strokeStyle = vm.borderColor;
                ctx.lineWidth = borderWidth;

                // draw the rounded top rectangle
                Chart.helpers.drawRoundedTopRectangle(ctx, left, (top - barRadius + 1), barWidth, bottom - prevTop, barRadius);

                ctx.fill();
                if (borderWidth) {
                    ctx.stroke();
                }

                // restore the original top value so tooltips and scales still work
                top = prevTop;
            },
        });
        Chart.defaults.roundedBar = Chart.helpers.clone(Chart.defaults.bar);
        Chart.controllers.roundedBar = Chart.controllers.bar.extend({dataElementType: Chart.elements.RoundedTopRectangle});
        new Chart(document.getElementById('totalScoresBarChart'), {
            type: 'roundedBar',
            data: {
                labels: dates,
                datasets: [{
                    backgroundColor: ["#E7DFF7", "#E7DFF7", "#E7DFF7", "#E7DFF7", "#6633CC"],
                    data: totalScores
                }]
            },
            options: {
                legend: {display: false},
                barRoundness: 0.7,
                scales: {
                    xAxes: [{
                        gridLines: {color: "white"},
                        barPercentage: 0.5
                    }],
                    yAxes: [{
                        ticks: {min: 1, maxTicksLimit: 4},
                        gridLines: {borderDash: [8, 4], color: "lightgray", drawBorder: false}
                    }]
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            return value !== 0 ? value.toLocaleString(/* ... */) : 'N/A'
                        },
                        anchor: 'end',
                        align: 'end',
                        color: '#888'
                    }
                }
            }
        });
        // endregion

        setTimeout(print, 1000);
    })

    function padZero(num, size) {
        num = num.toString();
        while (num.length < size) num = "0" + num;
        return num;
    }
</script>
</html>