{% extends 'base_kr.html' %}
{% block content %}
    <div class="sub_content">
        <form method="post" action="{% url 'reset password' %}" class="mt-5">
            {% csrf_token %}
            <input name="sessionKey" type="text" value="{{ sessionKey }}" hidden>
            <div>
                <div>
                    <div><label for="newPassword" class="label">새 비밀번호</label></div>
                    <div>
                        <div>
                            <div class="control"><input name="new_password" id="newPassword" type="password" required="required" class="input"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div><label for="repeatPassword" class="label">비밀번호 반복</label></div>
                    <div>
                        <div>
                            <div class="control"><input name="repeatpassword" id="repeatPassword" type="password" required="required" class="input"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div class="control">
                            <button id="submitButton" style="font-size: larger; margin-top: 20px;cursor: pointer;" disabled type="submit" class="button is-primary">비밀번호 변경</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $('#newPassword').keyup(function () {
            let pw1 = $('#newPassword').val();
            let pw2 = $('#repeatPassword').val();

            if (pw1.length > 4 && pw1 === pw2) {
                $('#repeatPassword').css("border", "1px solid gray");
                $('#submitButton').removeAttr('disabled');
            } else {
                $('#repeatPassword').css("border", "1px solid red");
                $('#submitButton').attr('disabled', true);
            }
        });

        $('#repeatPassword').keyup(function () {
            let pw1 = $('#newPassword').val();
            let pw2 = $('#repeatPassword').val();

            if (pw1.length > 4 && pw1 === pw2) {
                $('#repeatPassword').css("border", "1px solid gray");
                $('#submitButton').removeAttr('disabled');
            } else {
                $('#repeatPassword').css("border", "1px solid red");
                $('#submitButton').attr('disabled', true);
            }
        });
    </script>
{% endblock %}